/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root{
  --urlbar_border_color: color-mix(in srgb, currentColor 20%, transparent);

  &[lwtheme] {
    --urlbar_border_color: rgba(0,0,0,.3);
  }
}

#urlbar[breakout][breakout-extend] #urlbar-background,
#urlbar:not([focused]) #urlbar-background,
#urlbar[open] #urlbar-background,
#urlbar[focused][open] #urlbar-background,
#searchbar:not(:focus-within) {
  /*box-shadow: inset 0 0 0 1px var(--urlbar_border_color) !important;*/
  border: 1px solid var(--urlbar_border_color) !important;
}
