/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* blue */
#appMenu-fxa-status image,
:-moz-any(#appMenu-new-window-button,#appMenu-zoomEnlarge-button,#appMenu-fullscreen-button,#appMenu-copy-button,#appMenu-find-button,#appMenu-library-downloads-button,#appMenu-library-remotetabs-button,#PanelUI-remotetabs-view-sidebar,#PanelUI-remotetabs-view-managedevices,#PanelUI-remotetabs-syncnow,#appMenu-save-file-button) .toolbarbutton-icon {
  fill: #4169e1 !important; 
}
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #appMenu-fxa-status image,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(#appMenu-new-window-button,#appMenu-zoomEnlarge-button,#appMenu-fullscreen-button,#appMenu-copy-button,#appMenu-find-button,#appMenu-library-downloads-button,#appMenu-library-remotetabs-button,#PanelUI-remotetabs-view-sidebar,#PanelUI-remotetabs-view-managedevices,#PanelUI-remotetabs-syncnow,#appMenu-save-file-button) .toolbarbutton-icon {
  fill: #00d2ff !important; 
}

/* purple */
:-moz-any(#appMenu-private-window-button,#appMenu-library-button,#appMenu-print-button,#appMenu-library-history-button,#appMenuViewHistorySidebar,#appMenuClearRecentHistory,#appMenuRecentlyClosedTabs,#appMenuRecentlyClosedWindows) .toolbarbutton-icon {
  fill: #800080 !important;
}
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(#appMenu-private-window-button,#appMenu-library-button,#appMenu-print-button,#appMenu-library-history-button,#appMenuViewHistorySidebar,#appMenuClearRecentHistory,#appMenuRecentlyClosedTabs,#appMenuRecentlyClosedWindows) .toolbarbutton-icon {
  fill: #ff00ff !important;
}

/* orange */
:-moz-any(#appMenuRestoreLastSession,#appMenu-library-screenshots,#appMenu-open-file-button) .toolbarbutton-icon {
  fill: orange !important;
}

/* red */
:-moz-any(#appMenu-zoomReduce-button,#appMenu-cut-button,#appMenu-quit-button,#appMenu-tp-label,#appMenu-library-pocket-button) .toolbarbutton-icon {
  fill: red !important;
}
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(#appMenu-zoomReduce-button,#appMenu-cut-button,#appMenu-quit-button,#appMenu-tp-label,#appMenu-library-pocket-button) .toolbarbutton-icon {
  fill: #ff5a5a !important;
}


/* green */
:-moz-any(#appMenu-paste-button, #appMenu-addons-button) .toolbarbutton-icon {
  fill: green !important;
}
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(#appMenu-paste-button, #appMenu-addons-button) .toolbarbutton-icon {
  fill: lightgreen !important;
}

/* grey */
:-moz-any(#appMenu-preferences-button,#appMenu-developer-button) .toolbarbutton-icon {
  fill: grey !important;
}
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(#appMenu-preferences-button,#appMenu-developer-button) .toolbarbutton-icon {
  fill: lightgrey !important;
}

/* dark blue */
:-moz-any(#appMenu-customize-button,#appMenu-help-button ,#appMenu-library-bookmarks-button,#panelMenuBookmarkThisPage,#panelMenu_bookmarkingTools,#panelMenu_searchBookmarks,#panelMenu_toggleBookmarksMenu,#panelMenu_viewBookmarksSidebar,#panelMenu_viewBookmarksToolbar,#appMenu-more-button) .toolbarbutton-icon{
  fill: #336699 !important;
}
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(#appMenu-customize-button,#appMenu-help-button ,#appMenu-library-bookmarks-button,#panelMenuBookmarkThisPage,#panelMenu_bookmarkingTools,#panelMenu_searchBookmarks,#panelMenu_toggleBookmarksMenu,#panelMenu_viewBookmarksSidebar,#panelMenu_viewBookmarksToolbar,#appMenu-more-button) .toolbarbutton-icon{
  fill: #64a3e2 !important;
}
