/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* Aurora */
#main-window[tabsintitlebar] #toolbar-menubar:-moz-any([autohide="true"],[autohide="false"]) ~ #nav-bar #PanelUI-button #PanelUI-menu-button[label="Firefox Developer Edition"] {
  background-image: linear-gradient(hsl(208,99%,37%), hsl(214,90%,23%) 95%) !important;
}
#main-window[tabsintitlebar] #toolbar-menubar:-moz-any([autohide="true"],[autohide="false"]) ~ #nav-bar #PanelUI-button #PanelUI-menu-button[label="Firefox Developer Edition"]:hover:not(:active):not([open]){
  background-image: radial-gradient(farthest-side at center bottom, hsla(202,100%,85%,.5) 10%, hsla(202,100%,85%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(205,100%,72%,.7), hsla(205,100%,72%,0)),
					linear-gradient(hsl(208,98%,34%), hsl(213,87%,20%) 95%) !important;
}
#main-window[tabsintitlebar] #toolbar-menubar:-moz-any([autohide="true"],[autohide="false"]) ~ #nav-bar #PanelUI-button #PanelUI-menu-button[label="Firefox Developer Edition"]:-moz-any(:hover:active,[open]) {
  background-image: linear-gradient(hsl(208,95%,30%), hsl(214,85%,17%) 95%) !important;
}

/* Nightly */
#main-window[tabsintitlebar] #toolbar-menubar:-moz-any([autohide="true"],[autohide="false"]) ~ #nav-bar #PanelUI-button #PanelUI-menu-button:-moz-any([label="Nightly"],[label="Firefox Nightly"]) {
  background-image: linear-gradient(hsl(211,33%,32%), hsl(209,53%,10%) 95%) !important;
}
#main-window[tabsintitlebar] #toolbar-menubar:-moz-any([autohide="true"],[autohide="false"]) ~ #nav-bar #PanelUI-button #PanelUI-menu-button:-moz-any([label="Nightly"],[label="Firefox Nightly"]):hover:not(:active):not([open]){
  background-image: radial-gradient(farthest-side at center bottom, hsla(210,48%,90%,.5) 10%, hsla(210,48%,90%,0) 70%),
					radial-gradient(farthest-side at center bottom, hsla(211,70%,83%,.5), hsla(211,70%,83%,0)),
					linear-gradient(hsl(211,33%,32%), hsl(209,53%,10%) 95%) !important;
}
#main-window[tabsintitlebar] #toolbar-menubar:-moz-any([autohide="true"],[autohide="false"]) ~ #nav-bar #PanelUI-button #PanelUI-menu-button:-moz-any([label="Nightly"],[label="Firefox Nightly"]):-moz-any(:hover:active,[open]) {
  background-image: linear-gradient(hsl(211,33%,26%), hsl(209,53%,6%) 95%) !important;
}