/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* bookmarks menu button popup*/
#BMB_bookmarksPopup  #BMB_bookmarksShowAll,
#BMB_bookmarksPopup  .panel-arrowbox {
  display: none !important;
}

#BMB_bookmarksPopup,
#BMB_bookmarksPopup menupopup *,
#BMB_bookmarksPopup .panel-arrowcontent *{
  -moz-appearance: none !important;
  box-shadow: unset !important;
}

#BMB_bookmarksPopup menupopup .arrowscrollbox-scrollbox,
#BMB_bookmarksPopup menupopup,
#BMB_bookmarksPopup .panel-arrowcontent {
  background: unset !important;
  padding: unset !important;
  margin: unset !important;
  border: unset !important;
  box-shadow: unset !important;
  border-radius: 0 !important;
}

#BMB_bookmarksPopup menupopup,
#BMB_bookmarksPopup .panel-arrowcontent {
  -moz-appearance: menupopup !important;
  border: unset !important;
  box-shadow: unset !important;
}

#BMB_bookmarksPopup menupopup {
  background: -moz-Dialog !important;
  color: -moz-DialogText !important;
}

#main-window:not([style*='--lwt-header-image']):-moz-lwtheme-brighttext #BMB_bookmarksPopup *,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme-brighttext #BMB_bookmarksPopup menupopup * {
  color: black !important;
}

#BMB_bookmarksPopup menupopup > hbox {
  background: unset !important;
  border: unset !important;
}

#BMB_bookmarksPopup menu,
#BMB_bookmarksPopup menuitem {
  -moz-appearance: menuitem !important;
  padding: 0 7px !important;
  margin: unset !important;
  min-height: unset !important;
  height: 23px !important;
}

#BMB_bookmarksPopup menuseparator {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  -moz-margin-start: 28px !important;
  -moz-margin-end: 0px !important;
  border-bottom: 1px solid white !important;
}
#BMB_bookmarksPopup .menu-iconic-left {
  -moz-margin-start: -3px !important;
  -moz-margin-end: 9px !important;
}
#BMB_bookmarksPopup .menu-text {
  -moz-margin-start: 25px !important;
}

/* popup position */
#BMB_bookmarksPopup {
  margin-top: 0px !important;
}

@media (-moz-windows-classic) {

	/* additional tweaks for Windows classic theme */
	#BMB_bookmarksPopup menupopup,
	#BMB_bookmarksPopup .panel-arrowcontent {
	  background: -moz-Dialog !important;
	}
	#BMB_bookmarksPopup .menu-iconic-left {
	  -moz-margin-start: 3px !important;
	  -moz-margin-end: 3px !important;
	}
	#BMB_bookmarksPopup :-moz-any(menu,menuitem):-moz-any(:hover,:active) {
	  color: HighlightText !important;
	}

}

/* code for Linux/macOS */
@media not all and (-moz-os-version: windows-win7) {
@media not all and (-moz-os-version: windows-win8) {
@media not all and (-moz-os-version: windows-win10) {
  #BMB_bookmarksPopup menupopup,
  #BMB_bookmarksPopup .panel-arrowcontent {
	background: -moz-Dialog !important;
	color: inherit !important;
  }
  #BMB_bookmarksPopup menu:-moz-any(:hover,:active,[_moz-menuactive],[open]) > label,
  #BMB_bookmarksPopup menuitem:-moz-any(:hover,:active) > label {
	color: HighlightText !important;
  }
}}}
