/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* This code won't work for all buttons the same way. There are way too many different ***
** types and button variations out there to catch all of them with genereal code. *******/

#main-window #nav-bar #downloads-indicator-progress-outer,
#main-window #nav-bar #downloads-indicator-icon,
#main-window #nav-bar .toolbarbutton-badge-stack,
#main-window #nav-bar .toolbarbutton-menubutton-button,
#main-window #nav-bar .toolbarbutton-1 {
  padding: 0px !important;
  margin: 0px !important;
}

#main-window #nav-bar #downloads-button[indicator] #downloads-indicator-icon {
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

#main-window[uidensity=compact] #nav-bar .toolbarbutton-1 .toolbarbutton-icon,
#main-window[uidensity=compact] #nav-bar #downloads-button[indicator] #downloads-indicator-icon {
  padding: 5px 4px !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  height: 26px !important;
  width: 30px !important;
}
#main-window[uidensity=compact] #nav-bar :-moz-any(#add-ons-button,#zoom-out-button,#zoom-in-button) .toolbarbutton-icon,
#main-window[uidensity=compact] #nav-bar .webextension-browser-action .toolbarbutton-icon {
  padding: 5px 7px !important;
  height: 26px !important;
  width: 30px !important;
}
#main-window[uidensity=compact] #nav-bar .webextension-browser-action {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
#main-window[uidensity=compact] #nav-bar #downloads-button[indicator] #downloads-indicator-progress-outer {
  padding: 5px 8px !important;
}

#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar .toolbarbutton-1 .toolbarbutton-icon,
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #downloads-button[indicator] #downloads-indicator-icon {
  padding: 7px 0px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  height: 30px !important;
  width: 34px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar :-moz-any(#add-ons-button,#zoom-out-button,#zoom-in-button) .toolbarbutton-icon,
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar .webextension-browser-action .toolbarbutton-icon {
  padding: 7px 9px !important;
  height: 30px !important;
  width: 34px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar .webextension-browser-action {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #back-button .toolbarbutton-icon{
  padding: 9px !important;
  height: 34px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #downloads-button[indicator] #downloads-indicator-progress-outer {
  padding: 7px 11px !important;
}

#main-window[uidensity=touch] #nav-bar .toolbarbutton-1 .toolbarbutton-icon,
#main-window[uidensity=touch] #nav-bar #downloads-button[indicator] #downloads-indicator-icon {
  padding: 8px 0px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  height: 32px !important;
  width: 40px !important;
}
#main-window[uidensity=touch] #nav-bar :-moz-any(#add-ons-button,#zoom-out-button,#zoom-in-button) .toolbarbutton-icon,
#main-window[uidensity=touch] #nav-bar .webextension-browser-action .toolbarbutton-icon {
  padding: 8px 12px !important;
  height: 32px !important;
  width: 40px !important;
}
#main-window[uidensity=touch] #nav-bar .webextension-browser-action {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
#main-window[uidensity=touch] #nav-bar #back-button .toolbarbutton-icon{
  padding: 12px !important;
  height: 40px !important;
  width: 40px !important;
}
#main-window[uidensity=touch] #nav-bar #downloads-button[indicator] #downloads-indicator-progress-outer {
  padding: 8px 14px !important;
}

/**/
