/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* This code won't work for all buttons the same way. There are still too many different *
** types and button variations out there to catch all of them with general code. ********/


/* compact button mode */
#main-window[uidensity=compact] #nav-bar .toolbarbutton-1 .toolbarbutton-icon {
  width: 32px !important;
  height: 26px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
#main-window[uidensity=compact] #nav-bar .toolbarbutton-1 .toolbarbutton-badge-stack {
  width: 32px !important;
  height: 26px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#main-window[uidensity=compact] #nav-bar #downloads-button #downloads-indicator-anchor {
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
#main-window[uidensity=compact] #nav-bar .webextension-browser-action .toolbarbutton-icon {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

#main-window[uidensity=compact] #nav-bar :-moz-any(#add-ons-button,#zoom-out-button,#zoom-in-button) .toolbarbutton-icon {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

#main-window[uidensity=compact] #nav-bar #stop-reload-button .toolbarbutton-animatable-box,
#main-window[uidensity=compact] #nav-bar #nav-bar-overflow-button .toolbarbutton-animatable-box {
  margin-left: 7px !important;
  margin-right: 7px !important;
}

#main-window[uidensity=compact] #nav-bar #zoom-reset-button .toolbarbutton-text {
  min-height: 26px !important;
}


/* normal button mode */
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar .toolbarbutton-1 .toolbarbutton-icon {
  width: 40px !important;
  height: 30px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar .toolbarbutton-1 .toolbarbutton-badge-stack {
  width: 40px !important;
  height: 30px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #downloads-button #downloads-indicator-anchor {
  margin-left: 6px !important;
  margin-right: 6px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar .webextension-browser-action .toolbarbutton-icon {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #back-button .toolbarbutton-icon{
  padding: 9px !important;
  height: 34px !important;
  width: 34px !important;
}
#main-window:not([uidensity=compact]):not([uidensity=touch])  #nav-bar :-moz-any(#add-ons-button,#zoom-out-button,#zoom-in-button) .toolbarbutton-icon {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #nav-bar-overflow-button .toolbarbutton-animatable-box,
#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #stop-reload-button .toolbarbutton-animatable-box {
  margin-left: 11px !important;
  margin-right: 11px !important;
}

#main-window:not([uidensity=compact]):not([uidensity=touch]) #nav-bar #zoom-reset-button .toolbarbutton-text {
  min-height: 30px !important;
}


/* touch button mode */
#main-window[uidensity=touch] #nav-bar .toolbarbutton-1 .toolbarbutton-icon {
  width: 46px !important;
  height: 32px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
#main-window[uidensity=touch] #nav-bar .toolbarbutton-1 .toolbarbutton-badge-stack {
  width: 46px !important;
  height: 32px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#main-window[uidensity=touch] #nav-bar #downloads-button #downloads-indicator-anchor {
  margin-left: 6px !important;
  margin-right: 6px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
#main-window[uidensity=touch] #nav-bar .webextension-browser-action .toolbarbutton-icon {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
#main-window[uidensity=touch] #nav-bar #back-button .toolbarbutton-icon{
  padding: 12px !important;
  height: 40px !important;
  width: 40px !important;
}
#main-window[uidensity=touch]  #nav-bar :-moz-any(#add-ons-button,#zoom-out-button,#zoom-in-button) .toolbarbutton-icon {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

#main-window[uidensity=touch] #nav-bar #stop-reload-button .toolbarbutton-animatable-box ,
#main-window[uidensity=touch] #nav-bar #nav-bar-overflow-button .toolbarbutton-animatable-box{
  margin-left: 14px !important;
  margin-right: 14px !important;
}

#main-window[uidensity=touch] #nav-bar #zoom-reset-button .toolbarbutton-text {
  min-height: 32px !important;
}

/* fix for toolbar button badges */
#nav-bar .toolbarbutton-1 .toolbarbutton-badge {
  margin-top: -1px !important;
}

/**/
