/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import url(./custom_backforward_small.css);

#main-window toolbox toolbar :-moz-any(#back-button, #forward-button) .toolbarbutton-icon {
  list-style-image: url("./../../image/bf_ff3_strata_small_red.png") !important;
}