/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#main-window .megabar {
  z-index: 3 !important;
}

#main-window #back-button {
  z-index: 4 !important;
  position: relative !important;
}

#main-window #nav-bar #forward-button {
  --toolbarbutton-border-radius: 0px !important;
}

#main-window #nav-bar #back-button > .toolbarbutton-icon {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10000px !important;
  padding: 8px !important; 
  background-color: #f9f9fa !important;
}

#main-window[uidensity=touch] #nav-bar #back-button > .toolbarbutton-icon {
  padding: 11px !important;
}

#main-window #nav-bar #forward-button>.toolbarbutton-icon {
  width: 100% !important;
  height: 100% !important;
  padding: 7px 7px 7px 14px !important;
}

#main-window[uidensity=compact] #nav-bar #forward-button > .toolbarbutton-icon {
  padding: 5px 5px 5px 12px !important; 
}
#main-window[uidensity=touch] #nav-bar #forward-button > .toolbarbutton-icon {
  padding: 9px 9px 9px 16px !important; 
}

#main-window:not([customizing=true]) #nav-bar #forward-button[disabled] {
  visibility: collapse !important;
}

#main-window #nav-bar #forward-button[disabled] + #urlbar-container {
  -moz-margin-start: -15px !important;
}

#main-window #nav-bar #forward-button[disabled] + #urlbar-container #urlbar {
  padding-inline-start: 10px !important;
}

#main-window #nav-bar #back-button + #forward-button:not([disabled]) {
 -moz-margin-start: -16px !important;
}

#main-window #nav-bar #forward-button:not([disabled]) + #urlbar-container {
  -moz-margin-start: -2.5px !important;
}
#main-window[uidensity=compact] #nav-bar #forward-button:not([disabled]) + #urlbar-container {
  -moz-margin-start: -3.5px !important;
}

#permissions-granted-icon,
.blocked-permission-icon,
#notification-popup-box>image,
#notification-popup-box>stack {
  margin-inline-start: 8px !important;
}

#main-window #nav-bar #identity-box {
  padding-inline-end: 6px !important;
}

#main-window #nav-bar #back-button .toolbarbutton-icon{
  opacity: 1 !important;
}
