/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem :-moz-any(.ac-emphasize-text-title, .ac-emphasize-text-tag, .ac-emphasize-text-url,.ac-emphasize-text) {
  font-weight: bold !important;
}
