/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* To hide search engines at popups bottom open 'about:config' and set ************
** browser.urlbar.oneOffSearches to 'false' *************************************/

/* remove unneeded padding around results */
#PopupAutoCompleteRichResult .autocomplete-richlistbox {
  padding: 0 !important;
}

/* make sure there is no unneeded space before results (Fx58+) */
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
  -moz-margin-start: 0 !important;
  -moz-padding-start: 0 !important;
}

/* make sure there is no unneeded space before results (Fx57+) */
#PopupAutoCompleteRichResult .autocomplete-richlistitem spacer{
  display: none !important;
}

/* remove separator between title and url */
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-separator {
  display: none !important;
}

/* calculate width of title and url: width = 1/2 * (window size - 100px) */
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-title-text, 
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-url-text {
  min-width: calc((100vw - 100px)/2) !important;
  width: calc((100vw - 100px)/2) !important;
}

/* fix large space issue at items end */
#PopupAutoCompleteRichResult[autocompleteinput="urlbar"]  .autocomplete-richlistitem {
  border-inline-end: 0px solid transparent !important;
}

/* do not hide heuristic/actiontype url item */
#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem[actiontype="searchengine"] .ac-action {
  visibility: visible !important;
  display: inherit !important;
}

/* url text color: fix for default dark theme*/
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .ac-url .ac-url-text:not([selected]) {
  color: #00d2ff !important;
}
