/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/*********************************************************************************
** AUTOCOMPLETE POPUP ************************************************************
** based on **********************************************************************
** userstyles.org/styles/122394/url-bar-tweaks-remove-visit-search-limit-width ***
*********************************************************************************/

/* To hide seach engines at popups bottom open 'about:config' and set ************
** browser.urlbar.oneOffSearches to 'false' *************************************/

/* Hide "Visit/Search" items */
#PopupAutoCompleteRichResult richlistitem:first-of-type:-moz-any([type*="heuristic"],[actiontype="searchengine"],[actiontype="visiturl"],[actiontype="keyword"],[actiontype="searchengine"]),
#PopupAutoCompleteRichResult richlistitem[anonid="type-icon-spacer"] { 
  display:none !important; 
} 

/* remove space around box */
#PopupAutoCompleteRichResult .autocomplete-richlistbox {
  padding: 0 !important;
}

/* Max-height for items visible without scrolling */ 
#PopupAutoCompleteRichResult .autocomplete-richlistbox { 
  height: auto !important;
  max-height: calc(47.5px * 12) !important; 
} 

/* title/url width */ 
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-title-text,  
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-url-text { 
  min-width: 610px !important;
}

/* Items height, border, postion for two lines */
#PopupAutoCompleteRichResult .autocomplete-richlistitem { 
  height: 45.5px !important;
  border-bottom-color: #eee !important;
  position: relative !important;
  -moz-margin-start: 0 !important;
  -moz-padding-start: 0 !important;
}

#PopupAutoCompleteRichResult:-moz-locale-dir(ltr) .autocomplete-richlistitem {
  left: 0 !important;
}
#PopupAutoCompleteRichResult:-moz-locale-dir(rtl) .autocomplete-richlistitem {
  right: 0 !important;
}

/* Position of items title & font-size */
#PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-title { 
  position: absolute !important;
  top: 1px !important;
  font-size: 14px !important;
}
#PopupAutoCompleteRichResult:-moz-locale-dir(ltr) .autocomplete-richlistitem .ac-title {
  left: 34px !important;
}
#PopupAutoCompleteRichResult:-moz-locale-dir(rtl) .autocomplete-richlistitem .ac-title {
  right: 34px !important;
}

/* Position of items url / action & font-size */
#PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-url, 
#PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-action { 
  position: absolute !important;
  top: 20px !important; 
  font-size: 14px !important;
}
#PopupAutoCompleteRichResult:-moz-locale-dir(ltr) .autocomplete-richlistitem .ac-url,
#PopupAutoCompleteRichResult:-moz-locale-dir(ltr) .autocomplete-richlistitem .ac-action {
  left: 34px !important;
}
#PopupAutoCompleteRichResult:-moz-locale-dir(rtl) .autocomplete-richlistitem .ac-url,
#PopupAutoCompleteRichResult:-moz-locale-dir(rtl) .autocomplete-richlistitem .ac-action {
  right: 34px !important;
}
 
/* Position of bookmark tags */ 
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-tags { 
  position: absolute !important;
  top: 3px !important;
}
#PopupAutoCompleteRichResult:-moz-locale-dir(ltr) .autocomplete-richlistitem .ac-tags {
  right: 0px !important;
}
#PopupAutoCompleteRichResult:-moz-locale-dir(rtl) .autocomplete-richlistitem .ac-tags {
  left: 0px !important;
}

/* Hide separator between title and url ans space before icons */
#PopupAutoCompleteRichResult .autocomplete-richlistitem spacer,
#PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-separator { 
  display: none !important;
}

/* Position of type icon (bookmark, switch-to-tab...) */
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-type-icon {
  margin-bottom: -20px !important;
}

/* Position of site icon */
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-site-icon {
  -moz-margin-start: -22px !important;
  margin-top: -20px !important;
}

.autocomplete-richlistitem[selected=true] { 
  background-color: Highlight !important; 
} 
.autocomplete-richlistitem[selected=true] .ac-title,  
.ac-title[selected], 
.autocomplete-richlistitem[selected=true] .ac-url,  
.ac-url[selected], 
.autocomplete-richlistitem[selected=true] .ac-action, 
.ac-action[selected], 
.autocomplete-richlistitem[selected=true] .ac-separator, 
.ac-separator[selected] { 
  color: HighlightText !important; 
}

/**/