/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


.megabar .urlbarView-no-wrap,
.megabar .urlbarView-url {
  min-width: 50% !important;
  width: 50% !important;
}

.megabar .urlbarView-url {
  margin-inline-start: 10px !important;
}

.megabar .urlbarView-row:not([has-url="true"]) .urlbarView-no-wrap {
  min-width: 100% !important;
  width: 100% !important;
}

.megabar .urlbarView-row[type="switchtab"][has-url="true"] .urlbarView-no-wrap .urlbarView-action,
.megabar .urlbarView-row:not([has-url="true"]) .urlbarView-no-wrap .urlbarView-action {
  position: absolute !important;
  display: block !important;
  left: calc(50% + 10px) !important; /* 50% + 10px url space */
}

.urlbarView.megabar .urlbarView-results[wrap] > .urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url {
  min-width: unset !important;
  width: unset !important;
  margin-inline-start: unset !important;
}

.megabar .urlbarView-title-separator {
  display: none !important;
}

/* do not hide actiontype item */
.megabar .urlbarView-action{
  visibility: visible !important;
  display: inherit !important;
}


/* use different width values to go from  50/50 to e.g. 40/60 */
/*
.megabar .urlbarView-no-wrap {
  min-width: 40% !important;
  width: 40% !important;
}
.megabar .urlbarView-url {
  min-width: 60% !important;
  width: 60% !important;
}

.megabar .urlbarView-row[type="switchtab"][has-url="true"] .urlbarView-no-wrap .urlbarView-action,
.megabar .urlbarView-row:not([has-url="true"]) .urlbarView-no-wrap .urlbarView-action {
  position: absolute !important;
  display: block !important;
  left: calc(40% + 10px) !important;
}
*/
