/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* compact results */
#urlbar .urlbarView-row {
  padding-block: 0px !important;
}

#urlbar .urlbarView {
  margin-inline: unset !important;
  width: 100% !important;
}

/* reduce space around search engines */
#urlbar .search-one-offs {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#urlbar #urlbar-results {
  padding: 0px !important;
  margin: 0px !important;
}