/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* remove background color */
#urlbar .urlbar-page-action,
#urlbar #star-button-animatable-box,
#urlbar #pageAction-panel-bookmark,
#urlbar #star-button,
#urlbar #star-button-animatable-box,
#urlbar .urlbar-icon,
#searchbar .search-go-button {
  background: unset !important;
  box-shadow: unset !important;
}

/* increase brightness for hover/active states*/
#urlbar .urlbar-page-action:-moz-any(:hover,:hover:active,[open]),
#urlbar #pageAction-panel-bookmark:-moz-any(:hover,:hover:active,[open]),
#urlbar #star-button:-moz-any(:hover,:hover:active,[open]),
#urlbar #star-button-animatable-box:-moz-any(:hover,:hover:active,[open]),
#urlbar .urlbar-icon:-moz-any(:hover,:hover:active,[open]),
#searchbar .search-go-button:-moz-any(:hover,:hover:active,[open])  {
  filter: brightness(1.25) !important;
}

/* alternative reader icon*/
#reader-mode-button {
  list-style-image: url("./../../image/reader.png") !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
#reader-mode-button[readeractive] {
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

/* alternative page action and dropmarker color */
#urlbar #pageActionButton,
#urlbar .urlbar-history-dropmarker {
  fill: blue !important;
}
#urlbar #pageActionButton:-moz-any(:hover,:hover:active,[open]),
#urlbar .urlbar-history-dropmarker:-moz-any(:hover,:hover:active,[open]) {
  fill: #2558ff !important;
}

/* alternative star button color */
#urlbar #pageAction-panel-bookmark:not([starred]),
#urlbar #star-button:not([starred]) {
  fill: orange !important;
  opacity: 1.0 !important;
}
#urlbar #pageAction-panel-bookmark:not([starred]):-moz-any(:hover,:hover:active,[open]),
#urlbar #star-button:not([starred]):-moz-any(:hover,:hover:active,[open]) {
  filter: brightness(1.05) !important;
}

/* alternative 'awesome rss' button color */
#urlbar  #_97d566da-42c5-4ef4-a03b-5a2e5f7cbcb2_-page-action{
  fill: orange !important;
}
#urlbar  #_97d566da-42c5-4ef4-a03b-5a2e5f7cbcb2_-page-action:-moz-any(:hover,:hover:active,[open]){
  fill: orange !important;
  filter: brightness(1.75) !important;
}

/**/