/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* alternative padlock icons */
#urlbar[pageproxystate="valid"] :-moz-any(.verifiedDomain,.verifiedIdentity) #connection-icon {
  list-style-image: url(./../../image/padlock_classic.png) !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
	
#urlbar[pageproxystate="valid"] :-moz-any(.insecureLoginForms,.mixedActiveContent,.notSecure) #connection-icon {
  list-style-image: url(./../../image/padlock_classic_mal.png) !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

#urlbar[pageproxystate="valid"] :-moz-any(.weakCipher,.mixedDisplayContent,.mixedDisplayContentLoadedActiveBlocked,.certUserOverridden) #connection-icon {
  list-style-image: url(./../../image/padlock_classic_mpl.png) !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
	
#urlbar[pageproxystate="valid"] .mixedActiveBlocked #connection-icon {
  list-style-image: url(./../../image/padlock_classic_mab.png) !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
/**/