/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#urlbar,
.searchbar-textbox {
  margin: 1px !important;
  min-height: 0px !important;
  height: 24px !important;
}

.urlbar-icon,
#main-window[uidensity=compact] .urlbar-icon,
#main-window[uidensity=touch] .urlbar-icon  {
  width: 18px !important;
  height: 18px !important;
  padding: 0px 1px !important;
  margin: 0 !important;
}

#urlbar #reader-mode-button,
#main-window[uidensity=compact] #urlbar #reader-mode-button,
#main-window[uidensity=touch] #urlbar #reader-mode-button{
  padding: 1px !important;
}

.searchbar-search-icon {
  margin-inline-start: 4px !important;
  margin-inline-end: 4px !important;
}

/* reduce toolbar button height to match location bars button height (this will cause major glitches) *//*
#nav-bar .toolbarbutton-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  min-height: 0px !important;
  height: 24px !important;
}

/**/