/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* Megabar: disable breakout / expanding onto toolbar *********************************************/
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0px !important;
  width: calc(100% - 0px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation-name: unset !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 1px !important;
  padding-inline: 1px !important;
}

/* disable result item roundness */
#urlbar[breakout] .urlbarView-row-inner {
  border-radius: 0px !important;
}

/* disable 'breakout' animation */
#urlbar[breakout],
#urlbar[breakout] * {
  animation: unset !important;
  duration: 0s !important;
  animation-duration: 0s !important;
}

.urlbarView-body-inner {
  border-top: 0px !important;
}
