/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root {
	--urlbar_background: white;	
}

#urlbar-input,
#urlbar-scheme,
.searchbar-textbox {
  background-color: var(--urlbar_background) !important;
}

#searchbar:focus-within {
  box-shadow: unset !important;
}

#urlbar:not([focused="true"], [open]) > #urlbar-background,
#searchbar:not(:focus-within) {
  background-color: var(--urlbar_background) !important;
}
