/* Firefox Quantum userContent.css tweaks ********************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **********/
/* Github: https://github.com/aris-t2/customcssforfx ********************************************/
/************************************************************************************************/

/*************************************************************************************************

  README

  Finding profile folder: address bar > about:support > Profile Folder > Open Folder
  CSS files and sub-folders belong into \PROFILEFOLDER\chrome\ directory.
  \chrome\config\
  \chrome\css\
  \chrome\image\
  \chrome\userChrome.css
  \chrome\userContent.css

  ENABLING options: remove the combination of / and * before '@import'
  DISABLING options: add the combination of / and * before '@import'

  FIREFOX BUGS (nothing CSS code can do about):
  - some '@import' calls might not work properly on macOS and Linux
  - some '@import' calls might not work properly, if multi-process mode (e10s) is disabled
  - in both cases CSS code has to be added to userContent.css file manually

  Some CSS tweaks won't work, if '@namespace' references are used inside .css files!

  All options have significant categories and names.

  GENERAL SUPPORT / DISCUSSION THREAD: github.com/Aris-t2/CustomCSSforFx/issues/133

*************************************************************************************************/

/************************************************************************************************/
/* about:addons *********************************************************************************/
/************************************************************************************************/

/* NOTE: 'Version number for add-ons' will stop working soon when Mozilla drops XBL support. *****
		 See https://bugzilla.mozilla.org/show_bug.cgi?id=1397874 *******************************/

/* version number for add-ons / description for add-ons on Fiefox 64+ ***************************/
@import "./css/aboutaddons/addonlists_show_addon_version_number.css"; /**/

/* show 'last updated' date for add-ons *********************************************************/
@import "./css/aboutaddons/addonlists_show_addon_date_last_updated.css"; /**/

/* addons page appearance - [only use one at a time] ********************************************/
@import "./css/aboutaddons/addons_manager_alternative_appearance.css"; /**/
/* @import "./css/aboutaddons/addons_manager_alternative_appearance_aero.css"; /**/	/* <-- AERO colors */

/* compact item lists - [only use one at a time] ************************************************/
/* @import "./css/aboutaddons/addonlists_compact.css"; /**/
/* @import "./css/aboutaddons/addonlists_compact_more_compact.css"; /**/

/* other settings *******************************************************************************/
/* @import "./css/aboutaddons/addonlists_only_show_buttons_on_hover.css"; /**/
/* @import "./css/aboutaddons/addonlists_replace_button_labels_with_icons.css"; /**/
/* @import "./css/aboutaddons/addonlists_move_button_to_start.css"; /**/
@import "./css/aboutaddons/addonlists_green_dot_hidden.css"; /**/
@import "./css/aboutaddons/description_page_alternative_content_order.css"; /**/
@import "./css/aboutaddons/recentupdates_category_always_visible.css"; /**/
/* @import "./css/aboutaddons/search_category_always_visible.css"; /**/


/************************************************************************************************/
/* about:preferences ****************************************************************************/
/************************************************************************************************/

/* preferences page appearance - [only use one at a time] ***************************************/
@import "./css/aboutpreferences/preferences_alternative_appearance.css"; /**/
/* @import "./css/aboutpreferences/preferences_alternative_appearance_aero.css"; /**/	/* <-- AERO colors */
/* @import "./css/aboutpreferences/preferences_alternative_appearance_v2.css"; /**/


/************************************************************************************************/
/* about:newtab / about:home ********************************************************************/
/************************************************************************************************/

/* a dark appearance for inbuilt 'Dark' theme is present by default in Firefox 61+ **************/
/* @import "./css/aboutnewtab/dark_appearance.css"; /**/


/************************************************************************************************/
/* WEB CONTENT **********************************************************************************/
/************************************************************************************************/

/* top level image on white background - [only use one at a time] *******************************/
/* [!] this settings can sometimes cause glitches ***********************************************/
/* @import "./css/webcontent/toplevel_image_classic_v1.css"; /**/
/* @import "./css/webcontent/toplevel_image_classic_v2.css"; /**/

/* Screenshots - internal browser add-on ********************************************************/
/* @import "./css/webcontent/screenshots_alternative_save_ui.css"; /**/


/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
