/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./addonbar_move_bookmarks_toolbar_to_bottom.css";

/* [!] NOT A STANDALONE FILE! */
/* [!] This code does not achieve the requested result without above files content! */

/* downloads button fix */
#PersonalToolbar #wrapper-downloads-button,
#PersonalToolbar #downloads-button {
  top: 0px !important;
}


#PersonalToolbar #personal-bookmarks {
  max-width: 90vw !important;
}