/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root {
  --colored_menubar_background_image: linear-gradient(#f9f9fa,#f9f9fa);
  --colored_menubar_text_color: inherit;
}

#toolbar-menubar:not(:-moz-lwtheme) {
  background-image: var(--colored_menubar_background_image) !important;
  border: 1px solid var(--tabs-border-color) !important;
  border-bottom: 0px !important;
  margin-bottom: -1px !important;
}

#nav-bar {
  border-top: 0px !important;
}

#main-window:not(:-moz-lwtheme) #main-menubar > menu > :-moz-any(label,description) {
  color: var(--colored_menubar_text_color) !important;
}
