/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* tweaks for Windows Classic theme */
toolbar:not(#TabsToolbar) toolbaritem .toolbarbutton-1:hover,
toolbar:not(#TabsToolbar) .toolbarbutton-1:hover,
toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton:hover{
  box-shadow: 1px 0 0 0 white inset,
			  0 1px 0 0 white inset,
			  -1px 0 0 0 gray inset,
			  0 -1px 0 0 gray inset !important;
}
