/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


  :root[sizemode=normal][tabsintitlebar] {
	border-top: 1px solid rgba(0,0,0,.7) !important;
  }
  :root[sizemode=normal][tabsintitlebar][always-use-accent-color-for-window-border]:not(:-moz-window-inactive) {
    border-top-color: -moz-accent-color !important;
  }
  :root[tabsintitlebar]:not(:-moz-lwtheme) {
    background-color: hsl(235,33%,19%) !important;
    color: hsl(240,9%,98%) !important;
  }

  :root[sizemode=normal][tabsintitlebar] {
    border-top: 1px solid -moz-accent-color !important;
  }
  :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme),
  :root[tabsintitlebar]:not(:-moz-window-inactive)[lwt-default-theme-in-dark-mode] {
    background-color: -moz-accent-color !important;
    color: -moz-accent-color-foreground !important;
  }
  :root[tabsintitlebar][lwt-default-theme-in-dark-mode] #titlebar {
    --toolbarbutton-icon-fill: currentColor !important;
    --toolbarbutton-icon-fill-opacity: .7 !important;
  }

/*
    :root {
      background-color: transparent !important;
      appearance: auto !important;
      -moz-default-appearance: -moz-win-borderless-glass !important;
    }
	
    :root[sizemode="normal"] .titlebar-buttonbox {
      margin-inline-end: -3px !important;
	  color: CurrentColor !important;
	  fill: CurrentColor !important;
    }
	
    :root[sizemode="maximized"] .titlebar-buttonbox {
      margin-inline-end: 0px !important;
	  color: CurrentColor !important;
	  fill: CurrentColor !important;
    }
	
    #appcontent {
      appearance: auto !important;
      -moz-default-appearance: -moz-win-exclude-glass !important;
    }
*/
