/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:-moz-any(.browserContainer,#viewSource) :-moz-any(findbar,#FindToolbar) .findbar-closebutton {
  -moz-box-ordinal-group: 0 !important;
  position: absolute !important;
}

:-moz-any(.browserContainer,#viewSource) :-moz-any(findbar,#FindToolbar) .findbar-container {
  padding-inline-start: 20px !important;
  margin-inline-start: -20px !important;
}
:-moz-any(.browserContainer,#viewSource) :-moz-any(findbar,#FindToolbar) {
  overflow: hidden !important;
}