/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root[lwtheme] #sidebar-header {
  background-color: var(--toolbar-bgcolor) !important;
  background-image: var(--lwt-header-image) !important;
  background-position: bottom left !important;
  background-repeat: no-repeat !important;
  border-bottom: 0 !important;
}

:root[lwtheme] #sidebar-box,
:root[lwtheme] #sidebar-box * {
  color: black !important;
}

:root[lwtheme]:-moz-lwtheme-brighttext #sidebar-box,
:root[lwtheme]:-moz-lwtheme-brighttext #sidebar-box * {
  color: white !important;
}


@media (-moz-content-prefers-color-scheme: dark) {
	#main-window #sidebar-box,
	#main-window #sidebar-box * {
	  color: white !important;
	}
}

@media (-moz-content-prefers-color-scheme: light) {
	#main-window #sidebar-box,
	#main-window #sidebar-box * {
	  color: black !important;
	}
}
