/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./custom_backforward_large.css";

/* custom large back-forward buttons */
#main-window toolbox toolbar :is(#back-button, #forward-button) .toolbarbutton-icon {
  list-style-image: url("./../../image/bf_ff3_strata.png") !important;
}
