/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

@import url(./preferences_alternative_appearance.css);

@-moz-document url(about:preferences),url-prefix(about:preferences){

	page,
	page .dialogBox .groupbox-title{
	  background: linear-gradient(to bottom right, #edf6ff,#dbeaf9,#edf6ff,#dbeaf9) !important;
	}

}
