/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:-moz-any(.tabs-newtab-button,#tabs-newtab-button),
.tabbrowser-tab {
  border-top: 1px solid var(--tabs-border-color) !important;
  border-left: 1px solid var(--tabs-border-color) !important;
  border-right: 1px solid var(--tabs-border-color) !important;
}

#TabsToolbar:-moz-lwtheme-brighttext :-moz-any(.tabs-newtab-button,#tabs-newtab-button),
#TabsToolbar:-moz-lwtheme-brighttext .tabbrowser-tab {
  border-top: 1px solid #5a5a5c !important;
  border-left: 1px solid #5a5a5c !important;
  border-right: 1px solid #5a5a5c !important;
}

.tabbrowser-tab .tab-background {
  border: unset !important;
}

/* hide tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  opacity: 0 !important;
  border: unset !important;
  border-image: unset !important;
  border-image-slice: unset !important;
  width: unset !important;
}
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
  content: unset !important;
  display: unset !important;
}
/**/
