/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./addonlists_show_buttons_instead_of_menu_popup_fx72.css";

@-moz-document url-prefix(chrome://mozapps/content/extensions/extensions.xul),
	url-prefix(about:addons),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {
	
	:root {
	  --addon-icon-size: 16px !important;
	}
	
	recommended-themes-section,
	recommended-extensions-section,
	addon-list[type="theme"] addon-card > .addon.card .card-heading-image {
	  display: none !important;
	}

	addon-card:not([expanded="true"]) .addon.card {
	  min-height: 18px !important;
	  height: 18px !important;
	  max-height: 18px !important;
	  margin-top: 0 !important;
	  margin-bottom: 0 !important;
	  padding-top: 3px !important;
	  padding-bottom: 3px !important;
	  padding-inline-start: 2px !important;
	}
	
	addon-card panel-list {
	  margin-top: 1px !important;
	}

	.addon.card .addon-description {
	  visibility: hidden !important;
	}
	
	addon-card .card-heading-icon {
	  margin-inline-end: 2px !important;
	}
	
	addon-list[type="theme"] .card-heading-image {
	  position: unset !important;
	}

	addon-list[type="theme"] addon-card > .addon.card {
	  height: unset !important;
	}

	addon-list[type="theme"] .card-contents {
	  margin-top: unset !important;
	}

	addon-list[type="theme"] addon-card panel-list {
	  margin-top: 1px !important;
	  margin-inline-end: 6px !important;
	}

}