/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'NoiaButtons' add-on ******************************************/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/****************************************************************************************/
/* NoiaButtons add-on for Firefox 57+ ***************************************************/
/****************************************************************************************/

#urlbar .urlbar-go-button {
  list-style-image: url("./../images/toolbar_noia.png") !important;
  -moz-image-region: rect(0, 144px, 36px, 108px) !important;
  width: 24px !important;
}

#urlbar .urlbar-history-dropmarker {
  list-style-image: url("./../images/dropmarker14.png") !important;
  -moz-image-region: rect(0 14px 14px 0) !important;
}
	
#urlbar .urlbar-go-button:hover,
#urlbar .urlbar-history-dropmarker:hover{
  filter: brightness(1.15) !important;
}

#urlbar .urlbar-go-button,
#urlbar .urlbar-history-dropmarker{
  -moz-appearance: none !important;
  background:none !important;
  box-shadow: none !important;
}
