/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'NoiaButtons' add-on ******************************************/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/****************************************************************************************/
/* NoiaButtons add-on for Firefox 57+ ***************************************************/
/****************************************************************************************/

/* main toolbars */
#nav-bar {
  background: linear-gradient(#939393,#000000) !important;
}

toolbar:not(#nav-bar):not(#TabsToolbar):not(#toolbar-menubar),
#PersonalToolbar{
  background: #000000 !important;
}
	
/* location / search bar */
#urlbar, .searchbar-textbox {
  border-radius: 3px !important;
  background: rgba(255,255,255,0.98) !important;
}
#urlbar:-moz-locale-dir(ltr) box {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
#urlbar:-moz-locale-dir(rtl) box {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

#navigator-toolbox toolbar:not(#toolbar-menubar) toolbarbutton > label,
#navigator-toolbox #PersonalToolbar toolbarbutton > label{
  color: white !important;
}

/* toolbar separator *//*
#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar) {
  border-top: 2px solid !important;
  -moz-border-top-colors: #636363 #ababab !important;
}

/******************************************************
******* TABS ******************************************
*******************************************************
** tabs appearance ************************************
** code partly from David Vincents Noia Fox theme, ****
** partly taken from my Noia 4 theme and partly taken *
** from my Classic Theme Restorer add-on **************
******************************************************/

.tabs-newtab-button,
.tabbrowser-tab .tab-content {
  -moz-box-align: center !important;
  border-radius: 4px !important;
  text-shadow: none !important;
  min-height: 26px !important;
  box-shadow:
	0 0 2px rgba(255, 255, 255, 0.2) inset,
	0 4px 6px rgba(255, 255, 255, 0.2) inset,
	0 11px 0 -2px rgba(255, 255, 255, 0.2) inset,
	0 13px 8px rgba(150, 150, 150, 0.3) inset, 
	1px 2px 4px rgba(0, 0, 0, 0.3) !important; 
}

/* remove tab fog */
#TabsToolbar,
#TabsToolbar::before,
#TabsToolbar::after {
  box-shadow: unset !important;
}

#TabsToolbar {
  /*margin-top: 1px !important;*/
  margin-bottom: 1px !important;
}

/* tab line & tab background*/
.tabbrowser-tab:-moz-lwtheme[selected] .tab-line[selected=true] {
  height: 0px !important;
}

.tabbrowser-tab > .tab-stack > .tab-background > .tab-line[selected=true],
.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]) {
  background-color: rgba(0,0,0,.2);
  opacity: 0 !important;
}

.tabbrowser-tab .tab-background[selected=true] {
  border-image: unset !important;
  border-image-slice: 0 !important;
}

.tabbrowser-tab:not([selected]) .tab-background{
  display: none !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-color: rgba(0,0,0,.0) !important;
}

/*******************************************/
/**** default themes tab colors [start] ****/
/*******************************************/

/* black tab text color */
.tabbrowser-tab:not([selected]):not(:hover) .tab-label {
  color: white !important;
}

.tabbrowser-tab:not([selected]):hover .tab-label {
  color: black !important;
}

/* default tabs color */
.tabs-newtab-button,
.tabbrowser-tab .tab-content {
  background-image: linear-gradient(#000000,#000000,#000000,#444444,#939393) !important;
}
/* default tabs color v2 *//*
.tabs-newtab-button,
.tabbrowser-tab .tab-content {
  background-image: linear-gradient(#000000,#000000) !important;
}
/* selected & hovered tabs color */
.tabbrowser-tab .tab-content[selected="true"],
.tabs-newtab-button:hover,
.tabbrowser-tab:hover .tab-content:not([selected="true"]) {
  background-image: linear-gradient(#99FFFF,#00CCFF,#99FFFF) !important;
}
/* selected & hovered tabs color v2 *//*
.tabbrowser-tab .tab-content[selected="true"],
.tabs-newtab-button:hover,
.tabbrowser-tab:hover .tab-content:not([selected="true"]) {
  background-image: linear-gradient(#000000,#000000,#000000,#444444,#838383) !important;
  color: #ffffff !important;
}

/* unloaded/pending tabs color *//*
.tabbrowser-tab[pending] .tab-content {
  background: red !important;
}

/* unread tabs color *//*
.tabbrowser-tab[unread] .tab-content {
  background: purple !important;
}
*/

/* tab border color */
#TabsToolbar .tabs-newtab-button,
#TabsToolbar .tabbrowser-tab  .tab-content {
  border: 1px solid !important;
  -moz-border-top-colors: #969696 !important;
  -moz-border-right-colors: #969696 #e0e0e0 !important;
  -moz-border-left-colors: #969696 #e0e0e0 !important;
  -moz-border-bottom-colors: #969696 !important;
}

#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab[selected] .tab-content,
#TabsToolbar .tabbrowser-tab:hover .tab-content {
  -moz-border-top-colors: #4379bd !important;
  -moz-border-right-colors: #4379bd #c7ecfb !important;
  -moz-border-left-colors: #5c7bba #c7ecfb !important;
}

/* tab top border roundness */
#TabsToolbar .tabs-newtab-button,
#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content {
  border-radius: 4px !important;
}

/* loading animation */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:not([visuallyselected=true]) {
  --tab-loading-fill: #0A84FF !important;
}

/* space between tabs */
.tabs-newtab-button,
.tabbrowser-tab {
  -moz-margin-start: 0px !important;
}

/* show favicon for tabs without favicons */
.tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) {
  display: inline !important;
}
.tabbrowser-tab:not([pinned])[busy] .tab-throbber + .tab-icon-image:not([src]) {
  display:none !important;
}

/* width of new tab tab */
#TabsToolbar .tabs-newtab-button{
  min-width: 0px !important;
  width: 30px !important;
  margin-bottom: 0px !important;
}

/* size of new tab tabs '+' icon */
.tabs-newtab-button .toolbarbutton-icon{
  min-width: 0px !important;
  min-height: 0px !important;
  width: 16px !important;
  height: 16px !important;
  margin: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  background: unset !important;
  box-shadow: unset !important;
}

/* tab close button */
.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button {
  -moz-appearance: none !important;
  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
  border: none !important;
  padding: 0px !important;
  list-style-image: url("./../images/close.png") !important;
  background: unset !important;
}

.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]):hover .tab-close-button:hover,
.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover,
.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button[selected="true"]:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]):hover .tab-close-button:hover:active,
.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover:active,
.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button[selected="true"]:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
}

.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]):hover .tab-close-button,
.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button[selected="true"] {
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

.tabbrowser-tab .tab-close-button{
  opacity: 1.0 !important;
}

#TabsToolbar .close-icon > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}

/*tab favicon position*/
.tabbrowser-tab:not([pinned]):not([locked]) .tab-throbber,
.tabbrowser-tab:not([pinned]) .tab-icon-image{
  -moz-margin-start: -6px !important;
}

/*pinned tabs*/
#TabsToolbar .tab-content[pinned] {
  padding: 0 6px !important;
}

/* hide tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  opacity: 0 !important;
  border-image: unset !important;
  border-image-slice: unset !important;
  width: unset !important;
}
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
  content: unset !important;
  display: unset !important;
}
.titlebar-placeholder[type="pre-tabs"],
.titlebar-placeholder[type="post-tabs"] {
  border-inline-start: 0px solid !important;
  border-inline-end: 0px solid !important;
  opacity: 0 !important;
}
/**/

.titlebar-placeholder[type="pre-tabs"] {
  display: none !important;
}

/* remove crap set by Firefox 58+ */
.tabbrowser-tab,
.tab-stack,
.tab-background {
  border: unset !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left:  unset !important;
  border-image:  unset !important;
  border-image-slice:  unset !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true] ~ #TabsToolbar > #tabbrowser-tabs > .tabbrowser-tab::after,
:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true] ~ #TabsToolbar > #tabbrowser-tabs > .tabbrowser-tab::before,
.tabbrowser-tab:hover::before,
.tabbrowser-tab[last-visible-tab]:hover::after,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[afterhovered]::before {
  border-image:  unset !important;
  border-image-slice:  unset !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-radius: 4px !important;
}
