/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'NoiaButtons' add-on ******************************************/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/****************************************************************************************/
/* NoiaButtons add-on for Firefox 57+ ***************************************************/
/****************************************************************************************/

/* noia icons */

/* button size toolbars */
toolbar:not(#nav-bar) toolbaritem[cui-areatype="toolbar"] > :-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button) > .toolbarbutton-icon,
toolbar:not(#nav-bar)  :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])):not(:-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button)) > .toolbarbutton-icon,
toolbar:not(#nav-bar)  :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])) > :-moz-any(.toolbarbutton-badge-container,.toolbarbutton-badge-stack,.toolbarbutton-menubutton-button) > .toolbarbutton-icon {
  width: 20px !important;
  height: 20px !important;
  padding: 0px 0px !important;
  margin: 0px 2px !important;
}

#downloads-button:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon,
#downloads-button #downloads-indicator-icon,
#downloads-button[attention] > #downloads-indicator-anchor > #downloads-indicator-icon,
#downloads-button #downloads-indicator-progress-inner {
  visibility: hidden !important;
}

toolbar:not(#nav-bar) #downloads-button #downloads-indicator-progress-outer,
toolbar:not(#nav-bar) #downloads-button #downloads-indicator-icon {
  width: 20px !important;
  height: 20px !important;
  background-size: 20px !important;
}

#downloads-button:not(:-moz-any([progress],[counter],[paused],[attention])) #downloads-indicator-progress-outer,
#downloads-button:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
#downloads-button:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon,
#downloads-button #downloads-indicator-icon,
#downloads-button[attention] #downloads-indicator-progress-outer,
#downloads-button[attention] > #downloads-indicator-anchor > #downloads-indicator-icon {
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/* button size palette */
#customization-palette #downloads-button .toolbarbutton-badge-stack,
#customization-palette :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button,#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button) .toolbarbutton-icon {
  width: 30px !important;
  height: 30px !important;
  padding: 0px !important;
  margin: 0px !important;
}

/* buttons */
toolbar :-moz-any(#back-button, #forward-button, #home-button,#stop-button,#reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):not([disabled]):-moz-any(:hover,:active,:hover:active,[checked],[open]){
  filter: brightness(1.15) !important;
}

/**/
.tabs-newtab-button {
  list-style-image: url("./../images/newtab.png") !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
	
.tabs-newtab-button:hover {
  list-style-image: url("./../images/newtab.png") !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

.scrollbutton-up,
.scrollbutton-down,
#alltabs-button {
  list-style-image: url("./../images/dropmarker14.png") !important;
}

.scrollbutton-up {
  transform: rotate(90deg) !important;
}

.scrollbutton-down {
  transform: rotate(-90deg) !important;
}

.scrollbutton-up:not([disabled]):hover,
.scrollbutton-down:not([disabled]):hover,
#alltabs-button:hover {
  filter: brightness(1.15) !important;
}

#back-button {
  -moz-image-region: rect(0, 72px, 36px, 36px) !important;
}

#forward-button {
  -moz-image-region: rect(0, 144px, 36px, 108px) !important;
}
  
#reload-button .toolbarbutton-icon {
  -moz-image-region: rect(0, 180px, 36px, 144px) !important;
}
 
#stop-button .toolbarbutton-icon {
  -moz-image-region: rect(0, 216px, 36px, 180px) !important;
}

#home-button {
  -moz-image-region: rect(0, 252px, 36px, 216px) !important;
}

#bookmarks-menu-button {
  -moz-image-region: rect(0, 288px, 36px, 252px) !important;
}

#bookmarks-menu-button[starred] {
  -moz-image-region: rect(0, 324px, 36px, 288px) !important;
}

#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  -moz-image-region: rect(0px, 1260px, 36px, 1224px) !important;
}

#history-panelmenu {
  -moz-image-region: rect(0, 360px, 36px, 324px) !important;
}

#downloads-button {
  -moz-image-region: rect(0, 396px, 36px, 360px) !important;
}

#add-ons-button {
  -moz-image-region: rect(0, 432px, 36px, 396px) !important;
}

#open-file-button {
  -moz-image-region: rect(0, 468px, 36px, 432px) !important;
}

#save-page-button {
  -moz-image-region: rect(0, 504px, 36px, 468px) !important;
}

#sync-button {
  -moz-image-region: rect(0, 540px, 36px, 504px) !important;
}

#feed-button {
  -moz-image-region: rect(0, 576px, 36px, 540px) !important;
}

#social-share-button {
  -moz-image-region: rect(0, 612px, 36px, 576px) !important;
}

#characterencoding-button {
  -moz-image-region: rect(0, 648px, 36px, 612px) !important;
}

#new-window-button {
  -moz-image-region: rect(0, 684px, 36px, 648px) !important;
}

#e10s-button {
  -moz-image-region: rect(0, 684px, 36px, 648px) !important;
}

#e10s-button > .toolbarbutton-icon {
  transform: scaleY(-1) !important;
}

#new-tab-button {
  -moz-image-region: rect(0, 720px, 36px, 684px) !important;
}

#privatebrowsing-button {
  -moz-image-region: rect(0, 756px, 36px, 720px) !important;
}

#find-button {
  -moz-image-region: rect(0, 792px, 36px, 756px) !important;
}

#print-button {
  -moz-image-region: rect(0, 828px, 36px, 792px) !important;
}

#fullscreen-button {
  -moz-image-region: rect(0, 864px, 36px, 828px) !important;
}

#developer-button {
  -moz-image-region: rect(0, 900px, 36px, 864px) !important;
}

#preferences-button,#ctraddon_preferences-button {
  -moz-image-region: rect(0, 936px, 36px, 900px) !important;
}

#PanelUI-menu-button {
  -moz-image-region: rect(0, 972px, 36px, 936px) !important;
}

#edit-controls > #cut-button {
  -moz-image-region: rect(0, 1008px, 36px, 972px) !important;
}

#edit-controls > #copy-button {
  -moz-image-region: rect(0, 1044px, 36px, 1008px) !important;
}

#edit-controls > #paste-button {
  -moz-image-region: rect(0, 1080px, 36px, 1044px) !important;
}

#zoom-controls > #zoom-out-button {
  -moz-image-region: rect(0, 1116px, 36px, 1080px) !important;
}

#zoom-controls > #zoom-in-button {
  -moz-image-region: rect(0, 1152px, 36px, 1116px) !important;
}

#nav-bar-overflow-button {
  -moz-image-region: rect(0, 1224px, 36px, 1188px) !important;
}

#library-button{
  -moz-image-region: rect(0, 1260px, 36px, 1224px) !important;
}

#tabview-button {
  -moz-image-region: rect(0, 1296px, 36px, 1260px) !important;
}

#email-link-button {
  -moz-image-region: rect(0, 1332px, 36px, 1296px) !important;
}

#sidebar-button {
  -moz-image-region: rect(0, 1368px, 36px, 1332px) !important;
}

#panic-button {
  -moz-image-region: rect(0, 1404px, 36px, 1368px) !important;
}

#panic-button[open] {
  -moz-image-region: rect(36px, 1404px, 72px, 1368px) !important;
}

#web-apps-button {
  -moz-image-region: rect(0, 1440px, 36px, 1404px) !important;
}

#webide-button {
  -moz-image-region: rect(0, 1476px, 36px, 1440px) !important;
}

#pocket-button {
  -moz-image-region: rect(0, 1548px, 36px, 1512px) !important;
}

#pocket-button[open] {
  -moz-image-region: rect(36px, 1548px, 72px, 1512px) !important;
}

#containers-panelmenu {
  -moz-image-region: rect(0, 1620px, 36px, 1584px) !important;
}

/* unset default buttons appearance */
toolbar .scrollbutton-up,
toolbar .scrollbutton-down,
toolbar #alltabs-button .toolbarbutton-icon,
#nav-bar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button) > .toolbarbutton-icon {
  -moz-appearance: none !important;
  background: none !important;
  background-image: none !important;
  border-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  transition-property: none !important;
  transition-duration: 0ms !important;
}

toolbar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button),
toolbar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button) :-moz-any(.toolbarbutton-badge-container,.toolbarbutton-badge-stack),
toolbar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button) :-moz-any(.toolbarbutton-badge-container,.toolbarbutton-badge-stack) .toolbarbutton-icon {
  -moz-appearance: none !important;
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

#TabsToolbar toolbaritem[cui-areatype="toolbar"] > :-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button) > .toolbarbutton-icon,
#TabsToolbar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])):not(:-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button)) > .toolbarbutton-icon,
#TabsToolbar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])) > :-moz-any(.toolbarbutton-badge-container,.toolbarbutton-badge-stack,.toolbarbutton-menubutton-button) > .toolbarbutton-icon {
  -moz-appearance: none !important;
  padding: unset !important;
  margin: unset !important;
  background:none !important;
  box-shadow: none !important;
}

/* remove load/stop button animations */
#stop-button .toolbarbutton-animatable-image,
#reload-button .toolbarbutton-animatable-image {
  display: none !important;
}
