/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'NoiaButtons' add-on ******************************************/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/****************************************************************************************/
/* NoiaButtons add-on for Firefox 57+ ***************************************************/
/****************************************************************************************/

:-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):not([disabled]):-moz-any(:hover,:active,:hover:active,[checked],[open])  {
  transform: scale(0.75) !important;
  transition-duration: 0.1s !important;
}
	