/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'NoiaButtons' add-on ******************************************/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/****************************************************************************************/
/* NoiaButtons add-on for Firefox 57+ ***************************************************/
/****************************************************************************************/

/* button size nav-bar */
#nav-bar toolbaritem[cui-areatype="toolbar"] > :-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button) > .toolbarbutton-icon,
#nav-bar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])):not(:-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button)) > .toolbarbutton-icon,
#nav-bar :-moz-any(#back-button, #forward-button, #home-button, #stop-button, #reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])) > :-moz-any(.toolbarbutton-badge-container,.toolbarbutton-badge-stack,.toolbarbutton-menubutton-button) > .toolbarbutton-icon {
  width: 30px !important;
  height: 30px !important;
  padding: 0px 0px !important;
  margin: 0px 2px !important;
}

/* downloads button tweaks */
#nav-bar #downloads-button #downloads-indicator-progress-inner{
  visibility: hidden !important;
}
#nav-bar #downloads-button #downloads-indicator-progress-outer,
#nav-bar #downloads-button #downloads-indicator-icon {
  width: 30px !important;
  height: 30px !important;
  background-size: 30px !important;
}
#downloads-button[indicator="true"] #downloads-indicator-anchor {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
