/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'NoiaButtons' add-on ******************************************/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/****************************************************************************************/
/* NoiaButtons add-on for Firefox 57+ ***************************************************/
/****************************************************************************************/

@import url(./toolbar_buttons_base.css);

/* noia icons */

:-moz-any(#back-button, #forward-button, #home-button,#stop-button,#reload-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button, #containers-panelmenu, #library-button) {
  list-style-image: url("./../images/toolbar_fx3a.png") !important;
}

#downloads-button:not(:-moz-any([progress],[counter],[paused],[attention])) #downloads-indicator-progress-outer,
#downloads-button:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter {
  background: -moz-image-rect(url("./../images/toolbar_fx3a.png"), 0, 396, 36, 360) !important;
}

#downloads-button[attention] #downloads-indicator-progress-outer {
  background-image: -moz-image-rect(url("./../images/toolbar_fx3a.png"), 36, 396, 72, 360) !important;
}
