/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* Classic grey colors */
:root {
  --general_toolbar_color_toolbars: linear-gradient(#d4d0c8,#d4d0c8) !important;
  --general_toolbar_color_navbar: linear-gradient(#d4d0c8,#d4d0c8) !important;
  --general_toolbar_text_color: black !important;
  --general_toolbar_text_shadow: unset !important;
  --tabs_toolbar_color_tabs_not_on_top: linear-gradient(#d4d0c8,#d4d0c8) !important;
  --tabs_toolbar_border-tnot_normal_mode: 0px !important;
  --menubar_color: linear-gradient(#d4d0c8,#d4d0c8) !important;
  --classic_squared_tabs_active_tab: linear-gradient(to top,#d4d0c8,#e6e4df,#f1efed) !important;
  --classic_squared_tabs_hovered_tabs: linear-gradient(to top,#cac7c1,#d5d2cc,#e1ded8) !important;
  --classic_squared_tabs_other_tabs: linear-gradient(to top,#aeaba5,#c2bfb8,#c9c6be) !important;
  --classic_squared_tabs_unloaded_tabs: linear-gradient(to top,#aeaba5,#c2bfb8,#c9c6be) !important;
  --classic_squared_tabs_unread_tabs: linear-gradient(to top,#aeaba5,#c2bfb8,#c9c6be) !important;
  --classic_squared_tabs-border1: 1px solid #5f7181 !important;
  --classic_squared_tabs-border2: 1px solid rgba(0,0,0,.2) !important;
  --classic_squared_tabs-border3: 1px solid rgba(0,0,0,.5) !important;
  --classic_squared_tabs_new_tab_icon_color: black !important;
  --classic_squared_tabs_tab_text_color: black !important;
  --classic_squared_tabs_tab_text_shadow: unset !important;
  --classic_squared_tabs_lwt-dark_hovered_tabs: linear-gradient(hsla(0,0%,80%,.5), hsla(0,0%,60%,.5) 80%) !important;
  --classic_squared_tabs_lwt-dark_other_tabs: linear-gradient(hsla(0,0%,60%,.5), hsla(0,0%,45%,.5) 80%) !important;
  --classic_squared_tabs_lwt-bright_hovered_tabs: linear-gradient(hsla(0,0%,60%,.6), hsla(0,0%,45%,.6) 80%) !important;
  --classic_squared_tabs_lwt-bright_other_tabs: linear-gradient(hsla(0,0%,40%,.6), hsla(0,0%,30%,.6) 80%) !important;
}
