/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* general settings */
:root {
  --classic_squared_tabs_tab_height: 26px !important;
  --classic_squared_tabs-border-radius: 3px;
  --classic_squared_tabs_tab_default_loading_icon_color: #0A84FF !important;
}