/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root {
  --classic_squared_tabs_tab_height: 26px;
  --classic_squared_tabs_tab_default_loading_icon_color: #0A84FF;
  --classic_squared_tabs_active_tab: linear-gradient(to top,#f9f9fa,#f9f9fa,#f9f9fa);
  --classic_squared_tabs-border_size: 1px;
  --classic_squared_tabs-border1: #5f7181;
  --classic_squared_tabs-border-radius: 3px;
  
  --tab-min-height: var(--classic_squared_tabs_tab_height) !important;
  --mltabs-newtab-height: calc( var(--classic_squared_tabs_tab_height) + 1px ) !important;
  --tab-min-height_tnot: calc( var(--classic_squared_tabs_tab_height) - 1px ) !important;
  --space_below_content: calc( var(--classic_squared_tabs_tab_height) + 1px ) !important;
}

/* adjust tab toolbars buttons for squared tabs *//*
#TabsToolbar #alltabs-button .toolbarbutton-icon,
#TabsToolbar > #new-tab-button .toolbarbutton-icon,
#TabsToolbar > toolbarpaletteitem > #new-tab-button .toolbarbutton-icon {
  padding: 3px !important;
}
*/
/*******************************************/
/**** default themes tab colors [start] ****/
/*******************************************/

/* black tab text color *//*
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
  color: #000000 !important;
}

/* remove default tab colors */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
  background: unset !important;
}

/* default grey tabs */
#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
  background-image: linear-gradient(to top,transparent,transparent) !important;
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content[selected="true"] {
  background-image: var(--classic_squared_tabs_active_tab) !important;
}
#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button:hover,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:hover .tab-content:not([selected="true"]) {
  background-image: linear-gradient(to top,transparent,transparent) !important;
}

/* unloaded tab */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[pending] .tab-content {
  background-image: linear-gradient(to top,transparent,transparent) !important;
}

/* bold text on selected tab *//*
.tabbrowser-tab[selected="true"] {
  font-weight: bold !important;
}
*/

/* tab border color */
#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button:hover,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
  border-top: var(--classic_squared_tabs-border_size) solid var(--classic_squared_tabs-border1) !important;
  border-left: var(--classic_squared_tabs-border_size) solid var(--classic_squared_tabs-border1) !important;
  border-right: var(--classic_squared_tabs-border_size) solid var(--classic_squared_tabs-border1) !important;
}

#TabsToolbar .tabs-newtab-button {
  border-top: var(--classic_squared_tabs-border_size) solid transparent !important;
  border-left: var(--classic_squared_tabs-border_size) solid transparent !important; 
  border-right: var(--classic_squared_tabs-border_size) solid transparent !important;
}

#TabsToolbar .tabbrowser-tab:not(:-moz-lwtheme):not([selected]):not(:hover) .tab-content {
  border-top: var(--classic_squared_tabs-border_size) solid transparent !important;
  border-left: var(--classic_squared_tabs-border_size) solid transparent !important; 
  border-right: var(--classic_squared_tabs-border_size) solid transparent !important;
}


/*******************************************/
/***** default themes tab colors [end] *****/
/*******************************************/

/********************************************/
/******* lw-themes tab colors [start] *******/
/********************************************/

/* lightweight theme tab colors*/
.tabs-newtab-button:-moz-lwtheme-darktext,
.tabbrowser-tab:not([selected]):-moz-lwtheme-darktext .tab-content {
  background-image: linear-gradient(transparent, transparent) !important;
}
.tabs-newtab-button:hover:-moz-lwtheme-darktext,
.tabbrowser-tab:not([selected]):hover:-moz-lwtheme-darktext .tab-content {
  background-image: linear-gradient(transparent, transparent) !important;
}
.tabs-newtab-button:-moz-lwtheme-brighttext,
.tabbrowser-tab:not([selected]):-moz-lwtheme-brighttext .tab-content {
  background-image: linear-gradient(transparent, transparent) !important;
}
.tabs-newtab-button:hover:-moz-lwtheme-brighttext,
.tabbrowser-tab:not([selected]):hover:-moz-lwtheme-brighttext .tab-content {
  background-image: linear-gradient(transparent, transparent) !important;
}

.tabbrowser-tab[selected]:-moz-lwtheme-darktext .tab-content {
  border-top: 1px solid rgba(0,0,0,.5) !important;
  border-left: 1px solid rgba(0,0,0,.4) !important; 
  border-right: 1px solid rgba(0,0,0,.4) !important;
}
.tabbrowser-tab[selected]:-moz-lwtheme-brighttext .tab-content {
  border-top: 1px solid rgba(255,255,255,.6) !important;
  border-left: 1px solid rgba(255,255,255,.2) !important; 
  border-right: 1px solid rgba(255,255,255,.2) !important; 
}
#TabsToolbar:-moz-lwtheme .tabs-newtab-button:-moz-lwtheme-darktext:hover,
.tabbrowser-tab .tab-content:-moz-lwtheme-darktext:hover {
  border-top: 1px solid rgba(0,0,0,.2) !important;
  border-left: 1px solid rgba(0,0,0,.2) !important; 
  border-right: 1px solid rgba(0,0,0,.2) !important; 
}
#TabsToolbar:-moz-lwtheme .tabs-newtab-button:-moz-lwtheme-brighttext:hover,
.tabbrowser-tab .tab-content:-moz-lwtheme-brighttext:hover {
  border-top: 1px solid rgba(255,255,255,.6) !important;
  border-left: 1px solid rgba(255,255,255,.2) !important; 
  border-right: 1px solid rgba(255,255,255,.2) !important; 
}
#TabsToolbar:-moz-lwtheme .tabs-newtab-button:-moz-lwtheme-darktext:not([selected]):not(:hover),
.tabbrowser-tab .tab-content:-moz-lwtheme-darktext:not([selected]):not(:hover),
#TabsToolbar:-moz-lwtheme .tabs-newtab-button:-moz-lwtheme-brighttext:not([selected]):not(:hover),
.tabbrowser-tab .tab-content:-moz-lwtheme-brighttext:not([selected]):not(:hover) {
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important; 
  border-right: 1px solid transparent !important; 
}
/********************************************/
/******** lw-themes tab colors [end] ********/
/********************************************/

/* tab line & tab background*/
.tabbrowser-tab:-moz-lwtheme[selected] .tab-line[selected=true] {
  height: 0px !important;
}

.tabbrowser-tab > .tab-stack > .tab-background > .tab-line[selected=true],
.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]) {
  background-color: rgba(0,0,0,.2);
  opacity: 0 !important;
}

.tabbrowser-tab .tab-background[selected=true] {
  border-image: unset !important;
  border-image-slice: 0 !important;
}

.tabbrowser-tab:not([selected]) .tab-background{
  display: none !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-color: rgba(0,0,0,.0) !important;
}

/* tab top border roundness */
#TabsToolbar .tabs-newtab-button,
#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content  {
  border-top-left-radius: var(--classic_squared_tabs-border-radius) !important;
  border-top-right-radius: var(--classic_squared_tabs-border-radius) !important;
}

/* loading animation color */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:not([visuallyselected=true]) {
  --tab-loading-fill: var(--classic_squared_tabs_tab_default_loading_icon_color) !important;
}
.tab-throbber[busy]::before,
.tab-throbber[progress]::before {
  fill: var(--classic_squared_tabs_tab_default_loading_icon_color) !important;
}

/* space between tabs */
.tabs-newtab-button,
.tabbrowser-tab:not([pinned]) {
  -moz-margin-start: 0px !important;
}

/* width of new tab tab */
#TabsToolbar .tabs-newtab-button{
  min-width: 0px !important;
  width: 28px !important;
  margin-bottom: -1px !important;
}

/* size of new tab tabs '+' icon */
.tabs-newtab-button .toolbarbutton-icon{
  min-width: 0px !important;
  min-height: 0px !important;
  width: 14px !important;
  height: 14px !important;
  margin: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  background: unset !important;
  box-shadow: unset !important;
}

/* tab close icon size and position */
.tabbrowser-tab:not([pinned]) .close-icon > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}

.tabbrowser-tab:not([pinned]) .tab-content  .close-icon,
:root[uidensity=touch]  .tabbrowser-tab:not([pinned]) .tab-content .close-icon {
  width: 16px !important;
  height: 16px !important;
  -moz-margin-end: -6px !important;
}

:root[uidensity=touch] .tabbrowser-tab:not([pinned]) .tab-content  .close-icon,
:root[uidensity=touch] .tabbrowser-tab:not([pinned]) .close-icon > .toolbarbutton-icon {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}

:root[uidensity=touch] .tabbrowser-tab:not([pinned]) .tab-close-button {
  margin-inline-end: unset !important;
  padding: unset !important;
}

/*tab favicon position*/
.tabbrowser-tab:not([pinned]):not([locked]) .tab-throbber,
.tabbrowser-tab:not([pinned]) .tab-icon-image{
  -moz-margin-start:-6px !important;
}

/* reduce minimum tab height */
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
  min-height: var(--classic_squared_tabs_tab_height) !important;
}
#TabsToolbar #tabbrowser-tabs[overflow="true"] .tabbrowser-tab[pinned] {
  min-height: calc( var(--classic_squared_tabs_tab_height) - 1px ) !important;
  max-height: calc( var(--classic_squared_tabs_tab_height) - 1px ) !important;
}

/* Windows 10 fix */
@media (-moz-os-version: windows-win10) {
	.titlebar-button {
	  padding-top: 7px !important;
	  padding-bottom: 7px !important;
	}
}

/*pinned tabs*/
#TabsToolbar .tab-content[pinned] {
  padding: 0 6px !important;
}

/* remove top line above tabs for lw-themes */
#main-window:-moz-lwtheme #browser-panel{
  border: unset !important;
  box-shadow: unset !important;
}

/* hide tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  opacity: 0 !important;
  border-image: unset !important;
  border-image-slice: unset !important;
  width: unset !important;
}
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
  content: unset !important;
  display: unset !important;
}
/**/
/* remove crap set by Firefox 58+ */
.tabbrowser-tab,
.tab-stack,
.tab-background {
  border: unset !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: unset !important;
  border-image: unset !important;
  border-image-slice: unset !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true] ~ #TabsToolbar > #tabbrowser-tabs > .tabbrowser-tab::after,
:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true] ~ #TabsToolbar > #tabbrowser-tabs > .tabbrowser-tab::before,
.tabbrowser-tab:hover::before,
.tabbrowser-tab[last-visible-tab]:hover::after,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[afterhovered]::before {
  border-image: unset !important;
  border-image-slice: unset !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
#TabsToolbar .titlebar-placeholder[type="post-tabs"]{
  opacity: 0 !important;
}

/* make sure toolbar buttons do not increase toolbar height */
#TabsToolbar toolbarbutton .toolbarbutton-badge-stack,
#TabsToolbar > toolbarpaletteitem,
#TabsToolbar > toolbarbutton {
  min-height: unset !important;
  padding: unset !important;
  margin: 0 2px !important;
}

#TabsToolbar > toolbarpaletteitem .toolbarbutton-icon,
#TabsToolbar > toolbarbutton .toolbarbutton-icon {
  min-width: 16px !important;
  width: unset !important;
  min-height: 16px !important;
  height: unset !important;
  padding: unset !important;
  margin: unset !important;
}

#TabsToolbar toolbarbutton .toolbarbutton-badge-stack .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
