/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* color names, hexcodes, rgb(a) and hsl(a) and gradients can be used */

/*******************************************/
/* selected tab ****************************/

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
  background: linear-gradient(to bottom,#FF8800,#FFCC99) !important;
}
/* background color on toolbars */
#main-window #appcontent :-moz-any(.browserContainer,#viewSource) :-moz-any(findbar,#FindToolbar),
#main-window #navigator-toolbox toolbar:not(#TabsToolbar):not(#toolbar-menubar) {
  -moz-appearance: none !important;
  background: linear-gradient(to bottom,#FFCC99,#FFCC99) !important;
}

/**/
