/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* use 'about:config > browser.tabs.tabMinWidth' for tab min-width *//*
.tabbrowser-tab:not([pinned]) {
  min-width: 50px !important;
  clip-width: 50px !important;
*/

/* tab max-width */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 120px !important;
  overflow: hidden !important;
}

/**/
