/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root {
  --tab_close_icons_size: 16px;
}

#main-window #navigator-toolbox #TabsToolbar #closetab_fmarin_com-browser-action .toolbarbutton-icon,
#main-window #navigator-toolbox #TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action .toolbarbutton-icon,
#main-window #navigator-toolbox #TabsToolbar .close-icon > .toolbarbutton-icon {
  min-width: var(--tab_close_icons_size) !important;
  width: var(--tab_close_icons_size) !important;
  min-height: var(--tab_close_icons_size) !important;
  height: var(--tab_close_icons_size) !important;
}

