/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


.tab-label {
  -moz-box-flex: 1 !important;
  text-align: right !important;
}

/* Proton compatibility */
@media (-moz-proton) {
	
  .tab-label-container {
	display: grid !important;
	justify-items: safe right !important;
  }
  .tab-label {
	overflow: hidden !important;
  }

}
