/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

.tab-throbber[busy]::before,
.tab-throbber[progress]::before {
  width: 16px !important;
  height: 16px !important;
  animation: unset !important;
  -moz-context-properties: unset !important;
  fill: unset !important;
  animation: unset !important;
  opacity: unset !important;
  animation: unset !important;
}

.tab-throbber[busy]::before {
  background-image: url("./../../image/tabthrobber_fx56_connecting.png") !important;
}

.tab-throbber-fallback[busy] {
  list-style-image: url("./../../image/tabthrobber_fx56_connecting.png") !important;
}

.tab-throbber[progress]::before{
  background-image: url("./../../image/tabthrobber_loading-ubuntu.png") !important;
}

.tab-throbber-fallback[progress] {
  list-style-image: url("./../../image/tabthrobber_loading-ubuntu.png") !important;
}

/**/