/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

@import url(./tabs_below_navigation_toolbar.css);

#main-window[sizemode="normal"]  #TabsToolbar:not(:-moz-lwtheme){
  border-left: unset !important;
  border-right: unset !important;
}

#TabsToolbar:not(:-moz-lwtheme) {
  background: rgba(255,255,255,.0) !important;
}

/**/
