/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./tabs_below_main_content.css";


#main-window:not([customizing]) #TabsToolbar #tabbrowser-tabs:not([overflow="true"]) {
  width: calc(100% - 0px) !important;
}

#main-window:not([customizing]) #TabsToolbar #tabbrowser-tabs[overflow="true"] {
  width: calc(100% - 40px) !important;
}

/* hide any non-default button on tabs toolbar */
#main-window:not([customizing]) #TabsToolbar toolbarbutton:not(:-moz-any(#new-tab-button,#alltabs-button,.tabs-newtab-button,.scrollbutton-up,.scrollbutton-down)) {
  visibility: collapse !important;
}


#TabsToolbar-customization-target toolbarbutton .toolbarbutton-icon {
  padding: unset !important;
  height: unset !important;
  width: unset !important;
}

#main-window:not(:-moz-lwtheme) #TabsToolbar-customization-target toolbarbutton .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-darktext #TabsToolbar-customization-target toolbarbutton .toolbarbutton-icon {
  fill: var(--classic_squared_tabs_new_tab_icon_color) !important;
  color: var(--classic_squared_tabs_new_tab_icon_color) !important;
}