/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./tabs_below_main_content.css";

/* [!] NOT A STANDALONE FILE! */
/* [!] This code does not achieve the requested result without above files content! */


#main-window:not([inDOMFullscreen="true"]) #browser-bottombox {
  margin-bottom: calc(4px + var(--tab-min-height)) !important;
}

#main-window:not([inDOMFullscreen="true"]) #TabsToolbar {
  height: calc(3px + var(--tab-min-height)) !important;
}

#main-window:not([inDOMFullscreen="true"]) #TabsToolbar-customization-target {
  margin-top: -3px !important;
}
