/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./tabs_below_navigation_toolbar_fx65.css";

#main-window[tabsintitlebar]:not([sizemode="fullscreen"]):not([inDOMFullscreen="true"]) #navigator-toolbox {
  margin-top: calc(-1px + var(--tab-min-height_tnot)) !important;
}

#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
  padding-bottom: calc(0px + var(--tab-min-height_tnot)) !important;
}

#TabsToolbar {
  height: var(--tab-min-height_tnot) !important;
}

#main-window[tabsintitlebar]:not([sizemode="fullscreen"]):not([inDOMFullscreen="true"]) .titlebar-buttonbox-container,
#main-window[tabsintitlebar]:not([inDOMFullscreen="true"]) #toolbar-menubar ~ #TabsToolbar .titlebar-buttonbox-container  {
  position: fixed !important;
  display:block !important;
  top: 0 !important;
  left: 0 !important;
  right: unset !important;
}

#tabbrowser-tabs .tabbrowser-arrowscrollbox {
  margin-top: -1px !important;
  margin-bottom: 1px !important;
}

/* caption button position in maximized mode after moving to the top */
#main-window[tabsintitlebar]:not([inDOMFullscreen="true"]) #toolbar-menubar[autohide="true"] ~ #TabsToolbar .titlebar-buttonbox-container,
#main-window[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen="true"]) #TabsToolbar .titlebar-buttonbox-container {
  top: 0 !important;
}

#PersonalToolbar {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  height: unset !important;
  max-height: unset !important;
}

#main-window[tabsintitlebar]:not([sizemode="fullscreen"]) #titlebar {
  margin-top: calc(-1 * var(--tab-min-height_tnot)) !important;
  padding-top: var(--tab-min-height_tnot) !important;
}