/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./tabs_below_navigation_toolbar_fx74.css";

#navigator-toolbox {
  position: relative;
}

@media (-moz-proton) {
	
  .tabbrowser-tab {
	min-height: unset !important; 
  }

  toolbarbutton#scrollbutton-up[part="scrollbutton-up"]:-moz-lwtheme,
  toolbarbutton#scrollbutton-down[part="scrollbutton-down"]:-moz-lwtheme {
	fill: CurrentColor !important;
	color: CurrentColor !important;
  }
}


@media (-moz-proton) {
	
  #TabsToolbar {
	--toolbarbutton-inner-padding: calc((var(--tab-min-height_tnot) - 15px) / 2 - 4.5px) !important;
  }

}