/*AGENT_SHEET*/

/* Firefox 57+ userChrome.css tweaks ****************************************************/
/* code mostly taken from 'Classic Theme Restorer' & 'Classic Toolbar Buttons' add-ons **/
/* by Aris (aris-addons@gmx.net)*********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/****************************************************************************************/
/* multirow / multiple tab lines - modified for CustomCSSforFx **************************/
/* all credits go to the original author: https://00.bulog.jp/archives/1476 *************/
/****************************************************************************************/

:root {
  --tabs-end-position: 50px;
  --tab-min-height: var(--tab-min-height);
  --mltabs-newtab-height: var(--tab-min-height);
  --tab_min_width_mlt: 60px;
  --tab_max_width_mlt: 100px;
}

/* titlebar buttons */
#titlebar-buttonbox {
  vertical-align: top !important;
  display: block !important;
}

.tabbrowser-arrowscrollbox scrollbox {
  overflow: visible !important;
}

.tabbrowser-arrowscrollbox scrollbox > box {
  display: block !important;
}

/* additional space after tabs */
/*
.tabbrowser-tabs {
  -moz-margin-end: var(--tabs-end-position) !important;
}
*/

/* tab size */
.tabbrowser-tab {
  min-height: var(--tab-min-height) !important;
  max-height: var(--tab-min-height) !important;
  vertical-align: top !important;
  -moz-box-sizing: border-box !important;
}

.tabbrowser-tab:not([pinned]) {
  min-width: var(--tab_min_width_mlt) !important;
  max-width: var(--tab_max_width_mlt) !important;
}

/* 'new tab' tab size */
.tabs-newtab-button {
  vertical-align: bottom !important;
  height: var(--mltabs-newtab-height) !important;
}

/* hide unneeded buttons */
.scrollbutton-up ,
.scrollbutton-down,
#TabsToolbar #alltabs-button{
  display: none;
}