/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* disable ugly location bar expanding */
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: unset !important;
  width: calc(100% + 0 * 5px + 0 * 2px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: unset !important;
  animation-name: unset !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: unset !important;
  padding-inline: unset !important;
}

/* disable result item roundness */
#urlbar[breakout] .urlbarView-row-inner {
  border-radius: 0px !important;
}

/* disable 'breakout' animation */
#urlbar[breakout] {
  animation: unset !important;
  duration: unset !important;
}

/* remove 'border' between urlbar and results */
.urlbarView-body-inner {
  border-top: 0px !important;
}



@media (-moz-proton) {


/* Megabar: disable breakout / expanding onto toolbar *********************************************/
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0px !important;
  width: calc(100% - 0px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation-name: unset !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: unset !important;
  padding-inline: 1px !important;
}

/* disable result item roundness */
#urlbar[breakout] .urlbarView-row-inner {
  border-radius: 0px !important;
}

/* disable 'breakout' animation */
#urlbar[breakout] {
  animation: unset !important;
  duration: unset !important;
}


}
