/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/*
  Required Firefox preference
  about:config > browser.theme.windows.accent-color-in-tabs.enabled > true
 
*/

#main-window {
  appearance: auto !important;
  -moz-default-appearance: -moz-win-borderless-glass !important;
}
