/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] #identity-icon {
  list-style-image:url('./../../image/globe.svg') !important;
  filter: unset !important;
  fill: unset !important;
  opacity: 1.0 !important;
}
