/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#urlbar[focused="true"]:not([usertyping]) .urlbarView {
  display: none !important;
}

#urlbar[focused="true"]:not([usertyping]) #urlbar-input-container {
  border: 1px solid var(--urlbar_border_color) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}