/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* NOTE
   The below variables are overridden by the ones used inside 
   ./config/general_variables.css file, if this projects full package is used.
   Set custom values inside ./config/general_variables.css in that case.
*/

:root {
  --urlbar_background_color: white;
  --urlbar_text_color: black;
}


#main-window:not([privatebrowsingmode]) :is(#urlbar-search-mode-indicator,#page-action-buttons,#identity-icon-box,#urlbar-background,#searchbar) {
  background-color: var(--urlbar_background_color) !important;
}


#main-window:not([privatebrowsingmode]) #searchbar:-moz-lwtheme,
#main-window:not([privatebrowsingmode]) #urlbar:-moz-lwtheme :is(#urlbar-input,#urlbar-scheme,#page-action-buttons,#identity-icon-box,#urlbar-input-container,#urlbar-background,.urlbarView),
#main-window:not([privatebrowsingmode]) #urlbar:-moz-lwtheme:-moz-lwtheme-darktext .urlbarView-row:not([type=tip], [type=dynamic])[selected] > .urlbarView-row-inner,
#main-window:not([privatebrowsingmode]) #urlbar:-moz-lwtheme:-moz-lwtheme-darktext .urlbarView-row-inner[selected] {
  color: var(--urlbar_text_color) !important;
  fill: var(--urlbar_text_color) !important;
}

@media (-moz-content-prefers-color-scheme: light) {
	#main-window:not([privatebrowsingmode]) #urlbar:-moz-lwtheme .urlbarView-row:not([type=tip], [type=dynamic])[selected] > .urlbarView-row-inner,
	#main-window:not([privatebrowsingmode]) #urlbar:-moz-lwtheme .urlbarView-row-inner[selected] {
	  color: var(--urlbar_text_color) !important;
	  fill: var(--urlbar_text_color) !important;
	}
}
