/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#PanelUI-button {
  min-width: 1px !important;
  width: 1px !important;
  max-width: 1px !important;
  opacity: 0.1 !important;
}

/*
#PanelUI-button {
  visibility: collapse !important;
}
*/