/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#main-window[tabsintitlebar] #nav-bar #PanelUI-button {
  position: relative !important;
  margin-top: -57px !important;
  margin-bottom: 63px !important;
}

#main-window[tabsintitlebar] #nav-bar-customization-target {
  -moz-margin-start: -37px !important;
}