/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* tabs on top + menubar hidden */
#main-window[tabsintitlebar] #nav-bar #PanelUI-button {
  position: relative !important;
  margin-top: -57px !important;
  margin-bottom: 63px !important;
}

#main-window[tabsintitlebar] #nav-bar-customization-target {
  -moz-margin-start: -91px !important;
}

@media all and (-moz-os-version: windows-win7),
@media all and (-moz-os-version: windows-win8) {
 #main-window[tabsintitlebar] #nav-bar #PanelUI-button {
	margin-top: -50px !important;
	margin-bottom: 56px !important;
  }
}
