/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* There are no icon versions for HiDPI modes available, so icons
   will look blurry in those modes.
*/


#stop-reload-button .toolbarbutton-animatable-box {
  display: none !important;
}

#tabs-newtab-button {
  list-style-image: url("../../image/newtabff3.png") !important;
}

#back-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/back.png") !important;
}

#forward-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/forward.png") !important;
}

#home-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/home.png") !important;
}

#stop-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/stop.png") !important;
}

#reload-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/reload.png") !important;
}

#bookmarks-menu-button,#bookmarks-toolbar-placeholder {
  list-style-image: url("../../image/icons_fx3_seamonkey/bookmarks.png") !important;
}

#history-panelmenu {
  list-style-image: url("../../image/icons_fx3_seamonkey/history.png") !important;
}

#add-ons-button,#unified-extensions-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/addons.png") !important;
}

#open-file-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/openfile.png") !important;
}

#save-page-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/savepage.png") !important;
}

#sync-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/sync.png") !important;
}

#characterencoding-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/characterencoding.png") !important;
}

#new-window-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/newwindow.png") !important;
}

#new-tab-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/newtab.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/privatebrowsing.png") !important;
}

#find-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/find.png") !important;
}

#print-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/print.png") !important;
}

#fullscreen-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/fullscreen.png") !important;
}

#developer-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/developer.png") !important;
}

#preferences-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/preferences.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/appmenu.png") !important;
}

#cut-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/edit_cut.png") !important;
}

#copy-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/edit_copy.png") !important;
}

#paste-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/edit_paste.png") !important;
}

#zoom-out-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/zoom_out.png") !important;
}

#zoom-in-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/zoom_in.png") !important;
}

#email-link-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/emaillink.png") !important;
}

#sidebar-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/sidebar.png") !important;
}

#library-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/library.png") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/overflow_chevron.png") !important;
}

#alltabs-button {
  list-style-image: url("../../image/icons_fx3_seamonkey/alltabs.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("../../image/icons_fx3_seamonkey/downloads.png") !important;
}

#panic-button:not([open]) {
  list-style-image: url("../../image/icons_fx3_seamonkey/panic.png") !important;
}

#save-to-pocket-button:not([open]) {
  list-style-image: url("../../image/icons_fx3_seamonkey/savetopocket.png") !important;
}
