/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* There are no icon versions for HiDPI modes available, so icons
   will look blurry in those modes.
*/


#stop-reload-button .toolbarbutton-animatable-box {
  display: none !important;
}

#tabs-newtab-button {
  list-style-image: url("../../image/newtabff3.png") !important;
}

#back-button {
  list-style-image: url("../../image/icons_fx_kempelton/back.png") !important;
}

#forward-button {
  list-style-image: url("../../image/icons_fx_kempelton/forward.png") !important;
}

#home-button {
  list-style-image: url("../../image/icons_fx_kempelton/home.png") !important;
}

#stop-button {
  list-style-image: url("../../image/icons_fx_kempelton/stop.png") !important;
}

#reload-button {
  list-style-image: url("../../image/icons_fx_kempelton/reload.png") !important;
}

#bookmarks-menu-button,#bookmarks-toolbar-placeholder {
  list-style-image: url("../../image/icons_fx_kempelton/bookmarks.png") !important;
}

#history-panelmenu {
  list-style-image: url("../../image/icons_fx_kempelton/history.png") !important;
}

#add-ons-button,#unified-extensions-button {
  list-style-image: url("../../image/icons_fx_kempelton/addons.png") !important;
}

#open-file-button {
  list-style-image: url("../../image/icons_fx_kempelton/openfile.png") !important;
}

#save-page-button {
  list-style-image: url("../../image/icons_fx_kempelton/savepage.png") !important;
}

#sync-button {
  list-style-image: url("../../image/icons_fx_kempelton/sync.png") !important;
}

#characterencoding-button {
  list-style-image: url("../../image/icons_fx_kempelton/characterencoding.png") !important;
}

#new-window-button {
  list-style-image: url("../../image/icons_fx_kempelton/newwindow.png") !important;
}

#new-tab-button {
  list-style-image: url("../../image/icons_fx_kempelton/newtab.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("../../image/icons_fx_kempelton/privatebrowsing.png") !important;
}

#find-button {
  list-style-image: url("../../image/icons_fx_kempelton/find.png") !important;
}

#print-button {
  list-style-image: url("../../image/icons_fx_kempelton/print.png") !important;
}

#fullscreen-button {
  list-style-image: url("../../image/icons_fx_kempelton/fullscreen.png") !important;
}

#developer-button {
  list-style-image: url("../../image/icons_fx_kempelton/developer.png") !important;
}

#preferences-button {
  list-style-image: url("../../image/icons_fx_kempelton/preferences.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("../../image/icons_fx_kempelton/appmenu.png") !important;
}

#cut-button {
  list-style-image: url("../../image/icons_fx_kempelton/edit_cut.png") !important;
}

#copy-button {
  list-style-image: url("../../image/icons_fx_kempelton/edit_copy.png") !important;
}

#paste-button {
  list-style-image: url("../../image/icons_fx_kempelton/edit_paste.png") !important;
}

#zoom-out-button {
  list-style-image: url("../../image/icons_fx_kempelton/zoom_out.png") !important;
}

#zoom-in-button {
  list-style-image: url("../../image/icons_fx_kempelton/zoom_in.png") !important;
}

#email-link-button {
  list-style-image: url("../../image/icons_fx_kempelton/emaillink.png") !important;
}

#sidebar-button {
  list-style-image: url("../../image/icons_fx_kempelton/sidebar.png") !important;
}

#library-button {
  list-style-image: url("../../image/icons_fx_kempelton/library.png") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("../../image/icons_fx_kempelton/overflow_chevron.png") !important;
}

#alltabs-button {
  list-style-image: url("../../image/icons_fx_kempelton/alltabs.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("../../image/icons_fx_kempelton/downloads.png") !important;
}

#panic-button:not([open]) {
  list-style-image: url("../../image/icons_fx_kempelton/panic.png") !important;
}

#save-to-pocket-button:not([open]) {
  list-style-image: url("../../image/icons_fx_kempelton/savetopocket.png") !important;
}
