/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#alltabs-button{
  visibility: visible !important;
  display: unset !important;
}

