/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


.tabbrowser-tab[first-visible-tab][last-visible-tab] .tab-close-button {
  visibility: collapse !important;
}
