/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* There are no icon versions for HiDPI modes available, so icons
   will look blurry in those modes.
*/


#stop-reload-button .toolbarbutton-animatable-box {
  display: none !important;
}

#tabs-newtab-button {
  list-style-image: url("../../image/newtabff3.png") !important;
}

#back-button {
  list-style-image: url("../../image/icons_fx_firebird/back.png") !important;
}

#forward-button {
  list-style-image: url("../../image/icons_fx_firebird/forward.png") !important;
}

#home-button {
  list-style-image: url("../../image/icons_fx_firebird/home.png") !important;
}

#stop-button {
  list-style-image: url("../../image/icons_fx_firebird/stop.png") !important;
}

#reload-button {
  list-style-image: url("../../image/icons_fx_firebird/reload.png") !important;
}

#bookmarks-menu-button,#bookmarks-toolbar-placeholder {
  list-style-image: url("../../image/icons_fx_firebird/bookmarks.png") !important;
}

#history-panelmenu {
  list-style-image: url("../../image/icons_fx_firebird/history.png") !important;
}

#add-ons-button,#unified-extensions-button {
  list-style-image: url("../../image/icons_fx_firebird/addons.png") !important;
}

#open-file-button {
  list-style-image: url("../../image/icons_fx_firebird/openfile.png") !important;
}

#save-page-button {
  list-style-image: url("../../image/icons_fx_firebird/savepage.png") !important;
}

#sync-button {
  list-style-image: url("../../image/icons_fx_firebird/sync.png") !important;
}

#characterencoding-button {
  list-style-image: url("../../image/icons_fx_firebird/characterencoding.png") !important;
}

#new-window-button {
  list-style-image: url("../../image/icons_fx_firebird/newwindow.png") !important;
}

#new-tab-button {
  list-style-image: url("../../image/icons_fx_firebird/newtab.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("../../image/icons_fx_firebird/privatebrowsing.png") !important;
}

#find-button {
  list-style-image: url("../../image/icons_fx_firebird/find.png") !important;
}

#print-button {
  list-style-image: url("../../image/icons_fx_firebird/print.png") !important;
}

#fullscreen-button {
  list-style-image: url("../../image/icons_fx_firebird/fullscreen.png") !important;
}

#developer-button {
  list-style-image: url("../../image/icons_fx_firebird/developer.png") !important;
}

#preferences-button {
  list-style-image: url("../../image/icons_fx_firebird/preferences.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("../../image/icons_fx_firebird/appmenu.png") !important;
}

#cut-button {
  list-style-image: url("../../image/icons_fx_firebird/edit_cut.png") !important;
}

#copy-button {
  list-style-image: url("../../image/icons_fx_firebird/edit_copy.png") !important;
}

#paste-button {
  list-style-image: url("../../image/icons_fx_firebird/edit_paste.png") !important;
}

#zoom-out-button {
  list-style-image: url("../../image/icons_fx_firebird/zoom_out.png") !important;
}

#zoom-in-button {
  list-style-image: url("../../image/icons_fx_firebird/zoom_in.png") !important;
}

#email-link-button {
  list-style-image: url("../../image/icons_fx_firebird/emaillink.png") !important;
}

#sidebar-button {
  list-style-image: url("../../image/icons_fx_firebird/sidebar.png") !important;
}

#library-button {
  list-style-image: url("../../image/icons_fx_firebird/library.png") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("../../image/icons_fx_firebird/overflow_chevron.png") !important;
}

#alltabs-button {
  list-style-image: url("../../image/icons_fx_firebird/alltabs.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("../../image/icons_fx_firebird/downloads.png") !important;
}

#panic-button:not([open]) {
  list-style-image: url("../../image/icons_fx_firebird/panic.png") !important;
}

#save-to-pocket-button:not([open]) {
  list-style-image: url("../../image/icons_fx_firebird/savetopocket.png") !important;
}
