/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* There are no icon versions for HiDPI modes available, so icons
   will look blurry in those modes.
*/


#stop-reload-button .toolbarbutton-animatable-box {
  display: none !important;
}

#tabs-newtab-button {
  list-style-image: url("../../image/newtabff1.png") !important;
}

#back-button {
  list-style-image: url("../../image/icons_fx2/back.png") !important;
}

#forward-button {
  list-style-image: url("../../image/icons_fx2/forward.png") !important;
}

#home-button {
  list-style-image: url("../../image/icons_fx2/home.png") !important;
}

#stop-button {
  list-style-image: url("../../image/icons_fx2/stop.png") !important;
}

#reload-button {
  list-style-image: url("../../image/icons_fx2/reload.png") !important;
}

#bookmarks-menu-button,#bookmarks-toolbar-placeholder {
  list-style-image: url("../../image/icons_fx2/bookmarks.png") !important;
}

#history-panelmenu {
  list-style-image: url("../../image/icons_fx2/history.png") !important;
}

#add-ons-button,#unified-extensions-button {
  list-style-image: url("../../image/icons_fx2/addons.png") !important;
}

#open-file-button {
  list-style-image: url("../../image/icons_fx2/openfile.png") !important;
}

#save-page-button {
  list-style-image: url("../../image/icons_fx2/savepage.png") !important;
}

#sync-button {
  list-style-image: url("../../image/icons_fx2/sync.png") !important;
}

#characterencoding-button {
  list-style-image: url("../../image/icons_fx2/characterencoding.png") !important;
}

#new-window-button {
  list-style-image: url("../../image/icons_fx2/newwindow.png") !important;
}

#new-tab-button {
  list-style-image: url("../../image/icons_fx2/newtab.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("../../image/icons_fx2/privatebrowsing.png") !important;
}

#find-button {
  list-style-image: url("../../image/icons_fx2/find.png") !important;
}

#print-button {
  list-style-image: url("../../image/icons_fx2/print.png") !important;
}

#fullscreen-button {
  list-style-image: url("../../image/icons_fx2/fullscreen.png") !important;
}

#developer-button {
  list-style-image: url("../../image/icons_fx2/developer.png") !important;
}

#preferences-button {
  list-style-image: url("../../image/icons_fx2/preferences.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("../../image/icons_fx2/appmenu.png") !important;
}

#cut-button {
  list-style-image: url("../../image/icons_fx2/edit_cut.png") !important;
}

#copy-button {
  list-style-image: url("../../image/icons_fx2/edit_copy.png") !important;
}

#paste-button {
  list-style-image: url("../../image/icons_fx2/edit_paste.png") !important;
}

#zoom-out-button {
  list-style-image: url("../../image/icons_fx2/zoom_out.png") !important;
}

#zoom-in-button {
  list-style-image: url("../../image/icons_fx2/zoom_in.png") !important;
}

#email-link-button {
  list-style-image: url("../../image/icons_fx2/emaillink.png") !important;
}

#sidebar-button {
  list-style-image: url("../../image/icons_fx2/sidebar.png") !important;
}

#library-button {
  list-style-image: url("../../image/icons_fx2/library.png") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("../../image/icons_fx2/overflow_chevron.png") !important;
}

#alltabs-button {
  list-style-image: url("../../image/icons_fx2/alltabs.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("../../image/icons_fx2/downloads.png") !important;
}

#panic-button:not([open]) {
  list-style-image: url("../../image/icons_fx2/panic.png") !important;
}

#save-to-pocket-button:not([open]) {
  list-style-image: url("../../image/icons_fx2/savetopocket.png") !important;
}
