
/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* There are no icon versions for HiDPI modes available, so icons
   will look blurry in those modes.
*/


#stop-reload-button .toolbarbutton-animatable-box {
  display: none !important;
}

#tabs-newtab-button {
  list-style-image: url("../../image/newtab-inverted.png") !important;
}

#back-button {
  list-style-image: url("../../image/icons_fx45inverted/back.png") !important;
}

#forward-button {
  list-style-image: url("../../image/icons_fx45inverted/forward.png") !important;
}

#home-button {
  list-style-image: url("../../image/icons_fx45inverted/home.png") !important;
}

#stop-button {
  list-style-image: url("../../image/icons_fx45inverted/stop.png") !important;
}

#reload-button {
  list-style-image: url("../../image/icons_fx45inverted/reload.png") !important;
}

#bookmarks-menu-button,#bookmarks-toolbar-placeholder {
  list-style-image: url("../../image/icons_fx45inverted/bookmarks.png") !important;
}

#history-panelmenu {
  list-style-image: url("../../image/icons_fx45inverted/history.png") !important;
}

#add-ons-button,#unified-extensions-button {
  list-style-image: url("../../image/icons_fx45inverted/addons.png") !important;
}

#open-file-button {
  list-style-image: url("../../image/icons_fx45inverted/openfile.png") !important;
}

#save-page-button {
  list-style-image: url("../../image/icons_fx45inverted/savepage.png") !important;
}

#sync-button {
  list-style-image: url("../../image/icons_fx45inverted/sync.png") !important;
}

#characterencoding-button {
  list-style-image: url("../../image/icons_fx45inverted/characterencoding.png") !important;
}

#new-window-button {
  list-style-image: url("../../image/icons_fx45inverted/newwindow.png") !important;
}

#new-tab-button {
  list-style-image: url("../../image/icons_fx45inverted/newtab.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("../../image/icons_fx45inverted/privatebrowsing.png") !important;
}

#find-button {
  list-style-image: url("../../image/icons_fx45inverted/find.png") !important;
}

#print-button {
  list-style-image: url("../../image/icons_fx45inverted/print.png") !important;
}

#fullscreen-button {
  list-style-image: url("../../image/icons_fx45inverted/fullscreen.png") !important;
}

#developer-button {
  list-style-image: url("../../image/icons_fx45inverted/developer.png") !important;
}

#preferences-button {
  list-style-image: url("../../image/icons_fx45inverted/preferences.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("../../image/icons_fx45inverted/appmenu.png") !important;
}

#cut-button {
  list-style-image: url("../../image/icons_fx45inverted/edit_cut.png") !important;
}

#copy-button {
  list-style-image: url("../../image/icons_fx45inverted/edit_copy.png") !important;
}

#paste-button {
  list-style-image: url("../../image/icons_fx45inverted/edit_paste.png") !important;
}

#zoom-out-button {
  list-style-image: url("../../image/icons_fx45inverted/zoom_out.png") !important;
}

#zoom-in-button {
  list-style-image: url("../../image/icons_fx45inverted/zoom_in.png") !important;
}

#email-link-button {
  list-style-image: url("../../image/icons_fx45inverted/emaillink.png") !important;
}

#sidebar-button {
  list-style-image: url("../../image/icons_fx45inverted/sidebar.png") !important;
}

#library-button {
  list-style-image: url("../../image/icons_fx45inverted/library.png") !important;
}

#nav-bar-overflow-button {
  list-style-image: url("../../image/icons_fx45inverted/overflow_chevron.png") !important;
}

#alltabs-button {
  list-style-image: url("../../image/icons_fx45inverted/alltabs.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("../../image/icons_fx45inverted/downloads.png") !important;
}

#panic-button:not([open]) {
  list-style-image: url("../../image/icons_fx45inverted/panic.png") !important;
}

#save-to-pocket-button:not([open]) {
  list-style-image: url("../../image/icons_fx45inverted/savetopocket.png") !important;
}
