/* Firefox Proton userChrome.css tweaks *********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ********************************************/
/************************************************************************************************/


/* Real 'compact' Proton for userChrome.css

about:config >
toolkit.legacyUserProfileCustomizations.stylesheets > true
browser.proton.appmenu.enabled > true
browser.proton.enabled > true
browser.proton.tabs.enabled > true
browser.uidensity > 1
(Restart browser)

*/

@supports -moz-bool-pref("browser.proton.enabled") {
#main-window[uidensity="compact"] #nav-bar-customization-target > toolbarpaletteitem > :is(toolbarbutton, toolbaritem),
#main-window[uidensity="compact"] #nav-bar-customization-target > * {
  padding: 0 !important;
  margin: 0 !important;
}
#main-window[uidensity="compact"] #urlbar-search-splitter {
  min-width: 1px !important;
}
#PanelUI-menu-button {
  padding-inline-end: 0 !important;
}
#main-window[uidensity="compact"] {
  --toolbarbutton-outer-padding: 1px !important;
  --toolbarbutton-inner-padding: 3px !important;
  --bookmark-block-padding: 1px !important;
}
}

@supports -moz-bool-pref("browser.proton.tabs.enabled") {
#main-window[uidensity="compact"]  {
  --tab-min-height: 22px !important;
}
}
@supports -moz-bool-pref("browser.proton.appmenu.enabled") {
.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1 {
  margin: 0 !important;
  min-height: 0 !important;
  padding: 0 2px !important;
}

}
