/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#TabsToolbar #closetab_fmarin_com-browser-action .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action .toolbarbutton-icon,
#sidebar-close .toolbarbutton-icon,
* > .close-icon{
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
  list-style-image: url("./../../image/close_gc.png") !important;
}
#TabsToolbar #closetab_fmarin_com-browser-action:hover .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action:hover .toolbarbutton-icon,
#sidebar-close:hover .toolbarbutton-icon,
* > .close-icon:hover{
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}
#TabsToolbar #closetab_fmarin_com-browser-action:hover:active .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action:hover:active .toolbarbutton-icon,
#sidebar-close:hover:active .toolbarbutton-icon,
* > .close-icon:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
}

#TabsToolbar #closetab_fmarin_com-browser-action .toolbarbutton-icon,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action .toolbarbutton-icon,
#sidebar-close .toolbarbutton-icon,
* > .close-icon > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
#sidebar-close {
  background: unset !important;
}

#TabsToolbar #closetab_fmarin_com-browser-action *,
#TabsToolbar #_fe8cab45-aaee-45f8-8765-781e0ebea300_-browser-action * {
  background: unset !important;
  box-shadow: unset !important;
  padding: 0px !important;
  margin: 0px !important;
}

#TabsToolbar .tabbrowser-tab .tab-content .close-icon {
  /*width: 20px !important;
  height: 20px !important;*/
  background: unset !important;
}

@media (-moz-proton) {
.tab-close-button {
  margin-inline-end: unset !important;
  width: unset !important;
  height: unset !important;
  padding: unset !important;
  border-radius: unset !important;
}

.tabbrowser-tab:not(:hover) > .tab-stack > .tab-content > .tab-close-button {
  padding-inline-start: unset !important;
  width: unset !important;
}

.tabbrowser-tab[visuallyselected=true]:hover,
#tabbrowser-tabs:not([closebuttons=activetab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected=true]):hover {
  --tab-label-mask-size: unset !important;
}
}
