/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage) {
  appearance: menuitem !important;
  min-height: unset !important;
  /*height: 30px !important;*/
}

:is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):after {
  content: attr(aria-label) !important;
  display: block !important;
  visibility: visible !important;
}

#context-navigation > .menuitem-iconic{
  -moz-box-pack: start !important;
}

#context-navigation:not([hidden]) {
  display: flex;
  flex-direction: column !important;
  --menuitem-min-width: unset !important;
  min-width: unset !important;
  padding-bottom: 0px !important;
}

#context-navigation > .menuitem-iconic[_moz-menuactive="true"]:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
  background-color: unset !important;
}
#context-navigation > .menuitem-iconic[_moz-menuactive="true"][disabled="true"] > .menu-iconic-left > .menu-iconic-icon {
  background-color: unset !important;
}

/* fix for German locale */
#context-bookmarkpage[aria-label*="Lesezeichen"] {
  -moz-padding-end: 10px !important;
}
