/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./context_bfrsb_labels_with_icons.css";


#context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
  opacity: 0 !important;
}
:is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):after {
  margin-inline-start: -28px !important;
}
