/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


#context-navigation:not([hidden]) {
  display:  flex;
  flex-direction: column;
  --menuitem-min-width: unset !important;
  min-width: unset !important;
  padding-bottom: 0px !important;
}

:is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage) image {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-inline-start: 0 !important;
}

:is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):after {
  content: attr(aria-label) !important;
  display: block !important;
  visibility: visible !important;
}

#context-navigation > .menuitem-iconic{
  -moz-box-pack: start !important;
}
