/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import url(./searchbar_popup_engines_show_labels.css);

:root {
  --search-one-offs_lables_height: 200px;
}

#PopupSearchAutoComplete .search-one-offs  {
  height: var(--search-one-offs_lables_height) !important;
  max-height: var(--search-one-offs_lables_height) !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}