/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem + richlistitem:not([collapse="true"]) {
  border-top: 1px solid lightgrey !important;
  border-bottom: 1px solid transparent !important;
}

/* Fx68 */
.urlbarView-row + .urlbarView-row {
  border-top: 1px solid lightgrey !important;
  border-bottom: 1px solid transparent !important;
}
