/* Firefox userChrome.css tweaks ****************************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ********************************************/
/************************************************************************************************/


:root {
	
  --photon_tabs_tab_height: 28px;
  --tab-min-height: var(--photon_tabs_tab_height) !important;
 
  /* variable for tabs below navigation toolbar option */
  --tab_below_navigation_toolbar_bottom_padding: calc( var(--tab-min-height) + 0px ) !important;
  
  /* variable for tabs below navigation toolbar option on macOS */
  --tab_below_navigation_toolbar_bottom_padding_macOS: calc( var(--tab-min-height) + 1px ) !important;
  --tab_below_navigation_toolbar_toolbox_top_padding_macOS: calc(-1px + var(--tab-min-height)) !important;
  
  /* variable for tabs below main content option */
  --tab_below_main_content_bottom_margin: calc(3px + var(--tab-min-height)) !important;
  --tab_below_main_content_toolbar_height: calc(2px + var(--tab-min-height)) !important;
  --tab_below_main_content_top_margin: 0px !important;

}

/* make tabs look like tabs again */
.tab-background {
  border-radius: 0px !important;
  margin-block: 0px !important;
}

.tab-background:is([selected],[multiselected]) {
  background-color: var(--toolbar-bgcolor) !important;
  background-image: var(--toolbar-bgimage) !important;
}

/* remove left and right tab spaces */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

.tabbrowser-tab {
  padding-inline: 0px !important;
  border-radius: 0px !important;
}

/* adjust 'new tab' tab */
#tabs-newtab-button {
  padding-inline: 1px !important;
  border-radius: 0px !important;
}

#tabs-newtab-button .toolbarbutton-icon {
  border-radius: 0px !important;
}

/* reduce scrollbuttons size */
#scrollbutton-up,
#scrollbutton-down {
  padding: 0 !important;
  border-radius: 0 !important;
}

/*tab line for [selected] and [multiselected] tabs */
.tabbrowser-tab .tab-context-line {
  height: 2px !important;
  border-radius: 0px !important;
}

.tabbrowser-tab:is([selected],[multiselected]):not([usercontextid]) .tab-context-line {
  background-color: Highlight !important;
}

.tabbrowser-tab:not([selected])[multiselected] .tab-context-line {
  background-color: color-mix(in srgb,Highlight, white 40%) !important;
}

#main-window:not([lwtheme-image="true"]):not([lwtheme-mozlightdark]):-moz-lwtheme .tabbrowser-tab[selected]:not([usercontextid]) .tab-context-line {
  background-color: var(--tab-line-color,Highlight) !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  margin: unset !important;
  background-color: var(--identity-icon-color) !important;
}

/* border between navigation toolbar and tabs toolbar */
#nav-bar:not(:-moz-lwtheme) {
  box-shadow: 0 calc(-1 * var(--tabs-navbar-shadow-size)) 0 var(--chrome-content-separator-color) !important;
}

#nav-bar:-moz-lwtheme {
  box-shadow: unset !important;
}

/* Tab separators had to be rewritten, because Mozilla removed
   'beforeselected-visible' and 'before-multiselected' rules. */
.tabbrowser-tab:not([pinned])::before,
.tabbrowser-tab:not([pinned]):not([selected],[multiselected]):last-of-type::after,
#tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([pinned])[selected] + .tabbrowser-tab::before {
  border-right: 1px solid transparent;
  margin-block: 5px 4px;
  opacity: 0.3;
  content: "";
  display: block;
}

.tabbrowser-tab:not([pinned]):not([selected],[multiselected])::before,
.tabbrowser-tab:not([pinned]):hover:not([selected])[first-visible-unpinned-tab]::before,
.tabbrowser-tab:not([pinned]):not([selected],[multiselected]):last-of-type::after,
#tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([pinned])[selected] + .tabbrowser-tab::before {
  border-right: 1px solid var(--lwt-background-tab-separator-color, currentColor);
}

.tabbrowser-tab:not([pinned]):not([selected])[first-visible-unpinned-tab]::before,
.tabbrowser-tab:not([pinned])[selected] + .tabbrowser-tab:not([selected])::before,
.tabbrowser-tab:not([pinned])[multiselected]:not([selected]) + .tabbrowser-tab:not([selected])::before {
  border-right: 1px solid transparent;
}

.tabbrowser-tab:not([pinned]):not([selected],[multiselected]):last-of-type::after {
  margin-inline-end: -1px;
}

.tabbrowser-tab:not([pinned]):hover:not([selected],[multiselected])::before,
.tabbrowser-tab:not([pinned]):hover:not([selected],[multiselected]):last-of-type::after,
.tabbrowser-tab:not([pinned]):hover:not([selected])[first-visible-unpinned-tab]::before,
.tabbrowser-tab:not([pinned]):hover + .tabbrowser-tab:not([pinned]):not([selected],[multiselected])::before {
  margin-top: 0;
  margin-bottom: 0;
}

/* selected / multiselected colors */
.tabbrowser-tab:is([selected],[multiselected]) > .tab-stack > .tab-background:not(:-moz-lwtheme) {
  box-shadow: 0 0 1px rgba(0,0,0,.5) !important;
}

.tab-background:is([selected],[multiselected]) {
  box-shadow: inset -1px 0 0 0 var(--chrome-content-separator-color),
			  inset 1px 0 0 0 var(--chrome-content-separator-color) !important;
}

.tab-background:is([selected],[multiselected]):-moz-lwtheme,
.tab-background:is([selected],[multiselected]):-moz-lwtheme {
  box-shadow: inset -1px 0 0 0 rgba(255,255,255,.01),
			  inset 1px 0 0 0 rgba(255,255,255,.01) !important;
}

.tab-background[multiselected] {
  outline: unset !important;
  outline-offset: unset !important;
}

.tab-background[selected],[multiselected] {
  outline-width: unset !important;
  outline-offset: unset !important;
}

.tabbrowser-tab > .tab-stack > .tab-background:not([selected])[multiselected] {
  background-color: color-mix(in srgb, currentColor 11%, transparent) !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected])[multiselected] {
  background-color: color-mix(in srgb, currentColor 16%, transparent) !important;
}

/* tab height fix ESR 91.6, 96.0.2, 97+ */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: unset !important;
}

/* Fx 100+ outline fix */
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme,
.tab-background[selected]:-moz-lwtheme {
  outline: unset !important;
}

/* Fx 101+ */
@media (-moz-platform: windows-win10), (-moz-os-version:windows-win10) {
	
	#main-window[sizemode="maximized"][tabsintitlebar] #titlebar {
	  margin-top: -3px !important;
	}
}

/* Fx 105+ - remove Firefox-view-button from tabs toolbar */
:root:not([privatebrowsingmode=temporary]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs,
:root[privatebrowsingmode=temporary] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
  border-inline-start: 0px solid color-mix(in srgb, currentColor 25%, transparent) !important;
}

:root:not([privatebrowsingmode=temporary]):not([firefoxviewhidden]) :is(#firefox-view-button, #wrapper-firefox-view-button) + #tabbrowser-tabs:not([overflow="true"]) {
  padding-inline-start: 0 !important;
  margin-inline-start: 0 !important;
}

#main-window:not([customizing]) #TabsToolbar #firefox-view-button {
  display: none !important;
}

#main-window[customizing] #TabsToolbar #firefox-view-button {
  list-style-image: url("chrome://branding/content/about-logo.png") !important;
}

#main-window[customizing] #TabsToolbar #firefox-view-button image {
  width: 16px !important;
  height: 16px !important;
}

/* Fx 106+ */
#private-browsing-indicator-with-label {
  display: none !important;
}

/* Fx 110+ - remove line below active tab */
#nav-bar:not([tabs-hidden="true"]) {
  position: unset !important;
}

/* fix jumping pinned tabs / tabs box */
#TabsToolbar #tabbrowser-tabs[overflow="true"] .tabbrowser-tab[pinned] {
  min-height: calc( var(--tab-min-height) - 2px ) !important;
  max-height: calc( var(--tab-min-height) - 2px ) !important;
}

#tabbrowser-tabs[overflow="true"] .tabbrowser-tab[pinned] :is(.tab-background,.tab-stack) {
  min-height: calc( var(--tab-min-height) - 0px ) !important;
}

#tabbrowser-tabs {
  padding-inline: 0 !important;
  padding-inline-start: calc(var(--tab-overflow-pinned-tabs-width) + 0px) !important;
  border: 0 !important;
  margin-inline-start: 0 !important;
}

#TabsToolbar .toolbarbutton-1 {
  margin: unset !important;
}

#TabsToolbar .titlebar-spacer[type="pre-tabs"],
#TabsToolbar .titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

/**/
