/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

/* See https://github.com/Aris-t2/CustomCSSforFx/discussions/722#discussioncomment-12420116 by Speravir */

/* Fx 136+ */ 
.tab-audio-button[soundplaying] {
  --button-icon-fill: #058B00 !important;/* var(--green-70) */
}
.tab-audio-button[muted] {
  --button-icon-fill: #D70022 !important;/* var(--red-60) */
}
.tab-audio-button[activemedia-blocked] {
  --button-icon-fill: #FFE900 !important;/* var(--yellow-50) */
}

.tab-audio-button[soundplaying-scheduledremoval]:not([muted]) {
  --button-icon-fill: #0060df !important;/* var(--color-blue-60) */
}

:root[lwtheme-brighttext]:not([style*='--lwt-header-image']) .tab-audio-button[soundplaying] {
  --button-icon-fill: lightgreen !important;
}
:root[lwtheme-brighttext]:not([style*='--lwt-header-image']) .tab-audio-button[muted] {
  --button-icon-fill: #ff5a5a !important;
}
:root[lwtheme-brighttext]:not([style*='--lwt-header-image']) .tab-audio-button[activemedia-blocked] {
  --button-icon-fill: orange !important;
}
:root[lwtheme-brighttext]:not([style*='--lwt-header-image']) .tab-audio-button[soundplaying-scheduledremoval]:not([muted]) {
	--button-icon-fill: 4d9aff !important;
}

@media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
	:root[lwtheme]:not([style*='--lwt-header-image']) .tab-audio-button[soundplaying] {
	  --button-icon-fill: lightgreen !important;
	}
	:root[lwtheme]:not([style*='--lwt-header-image']) .tab-audio-button[muted] {
	  --button-icon-fill: #ff5a5a !important;
	}
	:root[lwtheme]:not([style*='--lwt-header-image']) .tab-audio-button[activemedia-blocked] {
	  --button-icon-fill: orange !important;
	}
	:root[lwtheme]:not([style*='--lwt-header-image']) .tab-audio-button[soundplaying-scheduledremoval]:not([muted]) {
	  --button-icon-fill: 4d9aff !important;
	}
}

/* Fx 128-135 */
.tab-icon-overlay[soundplaying] {
  fill: #058B00 !important;/* var(--green-70) */
}
.tab-icon-overlay[muted] {
  fill: #D70022 !important;/* var(--red-60) */
}
.tab-icon-overlay[activemedia-blocked] {
  fill: #FFE900 !important;/* var(--yellow-50) */
}

:root[lwtheme-brighttext]:not([style*='--lwt-header-image']) .tab-icon-overlay[soundplaying] {
  fill: lightgreen !important;
}
:root[lwtheme-brighttext]:not([style*='--lwt-header-image']) .tab-icon-overlay[muted] {
  fill: #ff5a5a !important;
}
:root[lwtheme-brighttext]:not([style*='--lwt-header-image']) .tab-icon-overlay[activemedia-blocked] {
  fill: orange !important;
}

@media (-moz-toolbar-prefers-color-scheme: dark), (prefers-color-scheme: dark) {
	:root[lwtheme]:not([style*='--lwt-header-image']) .tab-icon-overlay[soundplaying] {
	  fill: lightgreen !important;
	}
	:root[lwtheme]:not([style*='--lwt-header-image']) .tab-icon-overlay[muted] {
	  fill: #ff5a5a !important;
	}
	:root[lwtheme]:not([style*='--lwt-header-image']) .tab-icon-overlay[activemedia-blocked] {
	  fill: orange !important;
	}
}
