/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

@import "./addons_manager_alternative_appearance.css";

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";


body > div#main {
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  margin-bottom: 4px !important;
  max-width: unset !important;
  background: linear-gradient(to bottom right, #f5f5f5,-moz-Dialog,#f5f5f5,-moz-Dialog) !important;
}

body > div#main > div.list-section .addon.card {
  margin-bottom: 4px !important;
}

body > div#main > div.list-section .addon.card:hover {
  background: Highlight !important;
  color: HighlightText !important;
}

body > div#main > div.list-section .addon.card:hover span {
  color: HighlightText !important;
}

body > div#main > div.list-section[type="disabled"] {
  opacity: 0.7 !important;
}
