/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {

  a.addon-badge-private-browsing-allowed,
  div.addon-badge-private-browsing-allowed {
	display: none !important;
  }
	
}