/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@import "./addonlists_compact_fx72.css";


@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	
	:root {
	  --addon-icon-size: 16px !important;
	}

	.addon.card .addon-description {
	  display: none !important;
	}
	
	addon-list[type="theme"] .addon.card {
	  min-height: 0px !important;
	}
	
	:-moz-any(plugin-options, addon-options) > panel-list {
	  margin-top: -21px !important;
	}
	
	link:-moz-any([href$="panel-item.css"],[href$="panel-list.css"]) ~ button {
	  padding: 0px 0px !important;
	  margin: 0px 0px !important;
	  min-height: 0px !important; 
	  height: unset !important; 
	}
	
	.addon.card div.more-options-menu {
	  height: 20px !important;
	}

}