/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	.addon.card:not(:hover) .more-options-menu panel-list {
	  display: none !important;
	  visibility: hidden !important;
	}
}