/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	
  a.addon-badge-recommended,
  div.addon-badge-recommended  {
	display: none !important;
  }
	
}