/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


@-moz-document  url-prefix(chrome://mozapps/content/extensions/extensions.xul),
				url-prefix(about:addons) {
					
	:root {
	  --in-content-category-text-hover: HighlightText !important;
	  --in-content-category-background-hover: Highlight !important;
	  --in-content-category-text-selected: black !important;
	  --in-content-category-background-selected: white !important;
	}
	
	@supports -moz-bool-pref("browser.in-content.dark-mode") {
	@media (prefers-color-scheme: dark) {
	  :root {
	  --in-content-category-text-selected: white !important;
	  --in-content-category-background-selected: black !important;
	  }
		
	}}

	#categories .category:hover {
	  color: var(--in-content-category-text-hover) !important;
	  background-color: var(--in-content-category-background-hover) !important;
	}

	#categories .category[selected],
	#categories .category.selected,
	#categories .category[selected]:hover,
	#categories .category.selected:hover,
	#categories .category[selected]:hover:active,
	#categories .category.selected:hover:active {
	  color: var(--in-content-category-text-selected) !important;
	  background-color: var(--in-content-category-background-selected) !important;
	}

	.category {
	  margin-inline-start: 0px !important;
	}
	
	/* dimensions / positioning */
	#addons-page .main-content{
	  padding: 0 !important;
	  margin: 0 !important;
	}

	#addons-page #header-search{
	  min-height: unset !important;
	}

	#addons-page #header-search .textbox-input-box{
	  height: 18px !important;
	}

	#addons-page #addon-list {
	  -moz-margin-start: -1px !important;
	}

	#addons-page:not(.inSidebar):not([aios-inSidebar="true"]) .view-pane > .list > scrollbox {
	  padding-right: 0 !important;
	  padding-left: 0 !important;
	}

	#addons-page #detail-view,
	#addons-page #userstyle-sorting,
	#addons-page .global-warning-container,
	#addons-page .global-info-container{
	  -moz-margin-start: 0px !important;
	  -moz-margin-end: 1px !important;
	}

	#addons-page .detail-view-container {
	  -moz-margin-start: 10px !important;
	}

	#addons-page #view-port{
	  -moz-margin-end: 4px !important;
	}

	#addons-page #header{
	  padding: 2px 0 !important;
	  margin: 0 !important;
	}
	
	/* tweaks for small windows */
	@media (max-width: 830px) {
	  
	  .category {
		padding-inline-start: 10px !important;
		margin-inline-end: 0px !important;
	  }

	  .main-content {
		padding-left: 28px !important;
		padding-right: 28px !important;
	  }

	}
	
	/* colorize category icons */
	#category-search .category-icon {
	  fill: #8aa8cc !important;
	}

	#category-discover .category-icon {
	  fill: #8b8b8b !important;
	}

	#category-extension .category-icon {
	  fill: #63c54f !important;
	}

	#category-theme .category-icon {
	  fill: #ffba2f !important;
	}

	#category-plugin .category-icon {
	  fill: #2b63c1 !important;
	}

	#category-dictionary .category-icon {
	  fill: purple !important;
	}

	#category-legacy .category-icon {
	  fill: red !important;
	}

	#category-availableUpdates .category-icon {
	  fill: orange !important;
	}

	#category-recentUpdates .category-icon {
	  fill: #b99c16 !important;
	}

	.category:not([selected="true"]):hover .category-icon {
	  filter: brightness(2.00) !important;
	}
	
	#category-discover:not([selected="true"]):hover .category-icon,
	#category-theme:not([selected="true"]):hover .category-icon{
	  filter: brightness(1.5) !important;
	}
	
	#category-plugin:not([selected="true"]):hover .category-icon{
	  filter: brightness(2.25) !important;
	}
	
	/* Firefox 64+ changes */
	#heading,
	#list-view-heading {
	  margin-top: unset !important;
	  margin-bottom: unset !important;
	  margin-inline-start: unset !important;
	  min-width: 100% !important;
	  margin-top: -26px !important;
	}

	#heading .header-name,
	#list-view-heading .header-name {
	  font-size: inherit !important;
	  font-weight: unset !important;
	}

	#nav-header {
	  min-height: unset !important;
	}
	
	#header-utils-btn {
	  min-height: 26px !important;
	  min-width: 50px !important;
	  -moz-box-ordinal-group: 0 !important;
	}

	#header-inner {
	  margin: unset !important;
	  width: calc(100vw - 246px) !important;
	}
	
	/* tweaks for small windows */
	@media (max-width: 830px) {
	  
		#header-inner {
		  margin: unset !important;
		  width: calc(100vw - 120px) !important;
		}
		
		#heading #updates-container {
		  display: none !important;
		}

	}
	
	#list-view-heading-name {
	  visibility: hidden !important;
	}
	
	#show-all-extensions,
	#heading-name,
	#header-inner #search-label{
	  display: none !important;
	}

	#header-search {
	  padding: 0 0px !important;
	  min-width: 200px !important;
	  width: unset !important;
	}
	
	#header-search .textbox-input {
	  font-size: 0.96em !important;
	}
	
	#header-inner button,
	#header-inner button .button-box {
	  margin: 0 !important;
	  padding: 0 !important;
	}
	
	#heading .heading-inner {
	  margin-inline-start: 0 !important;	
	}
	
	.message-bar {
	  background-color: white !important;
	}
	
	.addon {
	  padding-top: 7px !important;
	  padding-bottom: 7px !important;
	}

	.addon.card {
	  max-width: unset !important;
	  padding-inline-end: 0px !important;
	}

	.list-view-heading-inner {
	  -moz-box-flex: 1 !important;
	  width: unset !important;
	}

	.list > .addon {
	  margin: unset !important;
	}

	.list > .addon,
	.list > .addon:hover {
	  /*outset: unset !important;*/
	  box-shadow: unset !important;
	  /*duration: unset !important;*/
	  border-bottom: 1px solid var(--in-content-box-border-color) !important;
	}

	.sidebar-footer-button .text-link {
	  margin-inline-start: 0 !important;
	}
	
	#detail-view .card {
	  /*outset: unset !important;*/
	  box-shadow: unset !important;
	  /*duration: unset !important;*/
	}

	#detail-view .detail-view-container {
	  width: calc(100vw - 300px) !important;
	}

	#detail-view .detail-view-wrapper > spacer {
	  display: none !important;
	}
	
	#detail-icon {
	  min-width: 32px !important;
	  min-height: 32px !important;
	  max-width: 32px !important;
	  max-height: 32px !important;
	}
}


@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	
	:root{
	  --in-content-page-background: linear-gradient(to bottom right, #f5f5f5,-moz-Dialog,#f5f5f5,-moz-Dialog) !important;
	}

	body > div#main {
	  margin-inline-start: -1px !important;
	  margin-inline-end: 1px !important;
	  margin-bottom: 4px !important;
	  max-width: unset !important;
	  box-shadow: unset !important;
	  border: 0 !important;
	  border-radius: 0 !important;
	  background: linear-gradient(to bottom right, #f5f5f5,-moz-Dialog,#f5f5f5,-moz-Dialog) !important;
	}
	
	@supports -moz-bool-pref("browser.in-content.dark-mode") {
	@media (prefers-color-scheme: dark) {
		
	  :root{
		--in-content-page-background: linear-gradient(black,black) !important;
	  }
		
	  body > div#main {
		background: linear-gradient(black,black) !important;
	  }
		
	}}

	.addon.card {
	  margin-bottom: 1px !important;
	  box-shadow: unset !important;
	  border: 0 !important;
	  border-radius: 0 !important;
	}
	
	addon-card:not([expanded="true"]) .addon.card:hover {
	  background: Highlight !important;
	  box-shadow: unset !important;
	}

	addon-card:not([expanded="true"]) .addon.card:hover .card-contents :-moz-any(div,span,.addon-name-link) {
	  color: HighlightText !important;
	}

	/* remove headers like 'Enabled'/'Disabled' */
	.list-section-heading {
	  display: none !important;
	}

	/* reduce opacity for disabled add-ons */
	section[section="1"] addon-card:not([expanded]) > .addon.card:not([active="false"]), /* workaround for Fx 68-69*/
	addon-card:not([expanded]) > .addon.card[active="false"],
	addon-card:not([expanded])[panelopen] > .addon.card[active="false"],
	addon-card:not([expanded]) > .addon.card[active="false"]:focus-within,
	addon-card:not([expanded]) > .addon.card[active="false"]:hover {
	  color: grey !important;
	  opacity: 0.6 !important;
	  transition: unset !important;
	}
	
	section[section="1"] addon-card:not([expanded]) > .addon.card[active="true"] { /* workaround for Fx 70+*/
	  color: inherit !important;
	  opacity: 1.0 !important;
	  transition: unset !important;
	}

	/* remove advertising other add-ons */
	recommended-themes-section,
	recommended-extensions-section {
	  display: none !important;
	}
	
	addon-list message-bar-stack.pending-uninstall {
	  margin-bottom: 0px !important;
	}

}

@-moz-document  url-prefix(chrome://mozapps/content/extensions/extensions.xul),
				url-prefix(about:addons) {
	#addons-page .main-content{
	  -moz-margin-start: -1px !important;
	}
	
}

@-moz-document  url-prefix(chrome://mozapps/content/extensions/aboutaddons.html) {
	.main-heading,
	.main-search {
	  background: unset !important;
	  max-width: unset !important;
	  padding-inline-start: unset !important;
	  padding-top: unset !important;
	  padding-bottom: unset !important;
	  margin-inline-start: 0px !important;
	}
	.sticky-container {
	  background: #f9f9fa !important;
	  z-index: 1000 !important;
	}
	
	.main-heading {
	  margin-top: -30px !important;
	}
	
	.main-heading .header-name,
	.main-heading .spacer,
	.main-search .search-label	{
	  display: none !important;
	}
	
	.main-search search-textbox {
	  min-height: unset !important;
	  width: unset !important;
	  font-size: 12px !important;
	}
	
	.page-options-menu > .more-options-button {
	  margin: 2px !important;
	  width: 48px !important;
	  height: 24px !important;
	}
	
	addon-page-options panel-list {
	  z-index: 1000 !important;
	}
	
	.main-heading .page-options-menu {
	  order: -1;
	}
	
	button[data-l10n-id="addon-updates-manual-updates-found"] {
	  min-height: 0 !important;
	  padding: 0 !important;
	}
	
	
}