/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

@-moz-document  url-prefix(chrome://mozapps/content/extensions/extensions.xul),
				url-prefix(about:addons) {

	#category-availableUpdates[disabled] {
	  overflow: visible !important;
	  height: 48px !important;
	  min-height: 48px !important;
	  opacity: 1 !important;
	  transition-property: unset !important;
	  transition-duration: unset !important;
	  -moz-user-input: unset !important;
	}
	
	#category-availableUpdates[hidden] {
	  opacity: 1 !important;
	  min-height: 48px !important;
	  height: 48px !important;
	  display: inherit !important;
	  transition: unset !important;
	}

}