/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* context menu code has no effect on macOS */

#context-navigation:not([hidden]) {
  display: flex;
  flex-direction: column !important;
  --menuitem-min-width: unset !important;
  min-width: unset !important;
  padding-bottom: 0px !important;
}
	
:is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):after {
  content: attr(aria-label) !important;
  display: block !important;
  visibility: visible !important;
}
	
#context-navigation > .menuitem-iconic {
  -moz-box-pack: start !important; /* can not be replaced with box-pack yet */
  flex: unset !important;
  justify-content: unset !important;
}

/* fix for German locale */
#context-bookmarkpage[aria-label*="Lesezeichen"] {
  padding-inline-end: 10px !important;
}

/* Windows code */
@media (-moz-platform: windows) {

  #context-navigation :is(menu, menuitem, menucaption),
  :is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage) {
	appearance: none !important;
	min-height: unset !important;
  }
  
  #context-navigation :is(menu, menuitem, menucaption):not([disabled="true"]):hover,
  :is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):not([disabled="true"]):hover {
	background-color:  var(--menuitem-hover-background-color,-moz-menuhover) !important;
  }
  
  #context-navigation > .menuitem-iconic[_moz-menuactive="true"]:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon,
  #context-navigation > .menuitem-iconic[_moz-menuactive="true"][disabled="true"] > .menu-iconic-left > .menu-iconic-icon {
	background-color: unset !important;
  }

  #context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
    width: 16px !important;
    height: 16px !important;
    padding: 0px !important;
    margin-top: 7px !important;
	margin-bottom: 7px !important;
	margin-inline-start: 12px !important;
	margin-inline-end: 8px !important;
  }

}

/* code for Linux */
@media not (-moz-platform: windows) {

  #context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
    padding: 0px !important;
  }

  :is(#context-back,#context-forward,#context-reload,#context-stop,#context-bookmarkpage):after {
	margin-inline-start: 6px !important;
  }

}
