/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


.findbar-container,
.findbar-container * {
  padding: 0 !important;
}

.findbar-container {
  height: unset !important;
}
:is(.browserContainer,#viewSource) :is(findbar,#FindToolbar) {
  padding-block:  unset !important;
}
